#catalog {
    height: 100%;

    .product-container {
        height: 100%;
    }
}

.catalog-container {
    height: 100%;

    & > * {
        height: 100%;
    }
}

.accordion {
    dd {
        &.active {
            .cts-accordion-arrow {
                @include transform(rotate(90deg));
            }
        }
        > a {
            background: #efefef;
            border-bottom: 1px solid #ddd;
            color: #333;
            display: block;
            font-size: 14px;
            font-weight: bold;
            padding: 7px;
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}

.cts-accordion-arrow {
    color: #999;
    font-size: 14px;
    position: absolute;
    top: 8px;
    right: 10px;
}

.cts-product-group {
    .cts-tabs {
        background: darken($base_charts_color_white, 1%);
        box-shadow: 0 0 8px transparentize($base_charts_color_black, 0.7);
        margin: 0;
        padding: 5px 5px 15px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: 20;

        > li {
            width: 50%;
        }
    }
    .cts-tabs-content {
        background: #E9E9E9;
        border-collapse: collapse;
        margin: 0;
        overflow-y: auto;
        position: absolute;
        bottom: 0;
        top: 58px;
    }
}

.chart-list {
    margin: 15px 0 0;

    .list-btn {
        @include btn-light-gray;
        border-radius: 6px;
        color: #000;
        cursor: pointer;

        font-family: Roboto, Arial, sans-serif;
        padding: 3px 15px;
        margin: 8px 15px;
        text-align: left;

        img {
            vertical-align: middle;
        }
        a {
            display: block;
        }

        &:hover, &.highlight {
            cursor: pointer;
            @include hover-btn-light-gray
        }
        &.active {
            @include btn-blue-selected;
            color: white;
            border: 1px solid #666;
        }
    }
}

.cts-product-list-container {
    background: #efeff4;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
}

.cts-product-list-title {
    color: $base_charts_color_black;
    font-family: Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 5px;
    text-align: center;
}

.cts-product-item {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.cts-product-item-img {
    border: none;
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.cts-product-detail {
    background-color: #efeff4;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    position: relative;
    text-align: justify;
    width: 100%;
    height: 100%;

    .cts-params-link {
        padding-top: 15px;
        padding-bottom: 15px;

        &.active {
            background: $base_charts_color_blue_light;
            color: $base_charts_color_white;
        }
    }

    &#ChartsPlus, &#ChartsUpdates {
        .cts-params-link {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}

.cts-product-description, .cts-product-actions {
    background: darken($base_charts_color_white, 1%);
    box-shadow: 0 0 8px transparentize($base_charts_color_black, 0.7);
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 10;
}

.cts-product-description {
    padding: 10px;
    position: relative;
    text-align: center;
    z-index: 10;

    img {
        margin: 0 0 5px;
    }

    p {
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        margin: 0 0 5px;
        text-align: left;

        a {
            &, &:hover, &:visited {
                color: #0064ff;
                text-decoration: underline;
            }
        }
    }
}

.cts-product-actions {
    padding: 5px;
    text-align: center;

    .cts-view-btn {
        margin: 0 3px;
        width: 130px;
    }
    a {
        text-decoration: none;
        display: inline-block;
    }
}

.cts-product-content {
    -webkit-flex: 1;
    flex: 1;
    overflow: auto;
    position: relative;

    &.no-description {
        top: 0;
    }
    &.no-buttons {
        bottom: 0;
    }

    > .chart-list {
        background: #e9e9e9;
        overflow-y: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }
}

// specific group of product
.cts-list-label-code {
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;

    #ChartsPlus &, #ChartsUpdates & {
        display: none;
    }
}

.cts-list-label-bullet {
    border: 5px solid;
    border-radius: 6px;
    display: inline-block;
    font-size: 0;
    margin-right: 4px;
    vertical-align: middle;
    width: 0;
    height: 0;
}

.cts-list-label-title {
    font-size: 13px;

    #ChartsPlus &, #ChartsUpdates & {
        display: inline-block;
        font-weight: bold;
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
        width: 90%;
    }
}


.cts-tabs-content {
    margin-bottom: 1.5rem;
    width: 100%;
}

.cts-tabs-content:before, .cts-tabs-content:after {
    content: " ";
    display: table;
}

.cts-tabs-content:after {
    clear: both;
}

.cts-tabs-content > .content {
    display: none;
    float: left;
    padding: 0;
    margin: 0;
    width: 100%;
}

.cts-tabs-content > .content.active {
    display: block;
    float: none;
}

.cts-tabs-content > .content.contained {
    padding: 0.9375rem;
}

.no-js .cts-tabs-content > .content {
    display: block;
    float: none;
}
