.cts-categories-content-row {
    display: table;
    width: 100%;
    height: 100%;

    .cts-grid-table {
        table-layout: fixed;
    }
}

.cts-categories-content-col {
    display: table-cell;
    padding: 15px;
    vertical-align: middle;

    @media all and (min-width: $bp-s) {
        padding: 20px 50px;
    }
}

.cts-poi-categories-grid {
    .cts-grid-col {
        padding-top: 10px;
        padding-bottom: 10px;
        vertical-align: top;
    }
}

.cts-poi-category {
    color: $base_charts_color_black;
    cursor: pointer;
    display: block;
    text-align: center;
}

.cts-poi-icon {
    display: inline-block;
    vertical-align: top;

    img {
        max-width: 100%;
        max-height: 100%;
        vertical-align: top;
    }
}

.cts-poi-icon-row {
    display: table;
    width: 50px;
    height: 50px;
    table-layout: fixed;

    @media all and (min-width: $bp-s) {
        width: 64px;
        height: 64px;
    }
}

.cts-poi-icon-col {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.cts-poi-title {
    font-weight: bold;
    font-size: 11px;
    line-height: 15px;
    margin-top: 5px;
    text-shadow: 1px 1px 0 $base_charts_color_white;

    @media all and (min-width: $bp-s) {
        font-size: 15px;
        line-height: 17px;
    }
}