.cts-route-archive {
    position: relative;
    width: 100%;
    height: 100%;

    .cts-sorting-bar {
        display: block;
    }
}

.cts-share-button {
    padding-left: 12px;
    padding-right: 12px;
}

.cts-route-archive-content {
    box-sizing: border-box;
    height: 100%;
    padding: 42px 0 58px;
}

.cts-route-archive-content-scrollable {
    height: 100%;
    overflow: auto;

    &.in-select-state {
        .cts-route-archive-item {
            padding-left: 45px;
        }
    }
}

.cts-archive-route-name {
    background: $base_charts_color_grey;
    font-size: 30px;
    padding: 15px 10px;
}

.cts-route-archive-item {
    border-bottom-width: 0;
    margin: 0;
    padding: 8px 10px;

    &:hover {
        .cts-route-archive-item-edit {
            opacity: 1;
        }
    }

    &.is-active {
        background: $base_charts_color_blue_light;
        color: $base_charts_color_white;

        .cts-route-archive-item-edit {
            color: $base_charts_color_white;
        }
    }
    &:last-child {
        border-bottom-width: 1px;
    }
}

.cts-route-archive-item-edit {
    color: $base_charts_color_blue_oficial;
    font-size: 12px;
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 10px;

    &:hover {
        text-decoration: none;
    }
}

.cts-route-archive-item-checkbox {
    .cts-params-checkbox {
        line-height: 23px;
        margin: 0;
        right: auto;
        left: 10px;
        top: 10px;
        width: 23px;
        height: 23px;
    }
}

.cts-route-archive-item-title {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 3px;
}

.cts-route-archive-item-inf {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    font-size: 14px;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
