.cts-search {
    font-family: $base_charts_font_family;
    height: 100%;
    position: relative;
}

.cts-location-search {
    position: absolute;
    left: 0;
    top: 44px;
    right: 0;
}

.cts-sorting-bar {
    display: none;

    .has-sorting-bar & {
        display: block;
    }
}

.cts-search-no-data {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}
