.ui-accordion {
    .ui-accordion-header {
        box-shadow: 0 0.3em 1em gray;
        font-size: 0.9rem;
        font-weight: bold;
        padding: 0.5em;
        background: none repeat scroll 0 0 #efefef;
        color: #222222;
        display: block;
        font-family: "Roboto", "Arial", "sans-serif";
    }

    h3 {
        margin: 0px;
        padding: 0px;
    }

    div {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #ffffff;
    }

    span.arrow {
        position: relative;
        display: inline;
        float: right;
        top: 5px;
        right: 10px;
        @include icons-sprite(accordion_closed);
        width: 16px;
        height: 16px;
        z-index: 9999;
    }

    .ui-state-active span.arrow {
        z-index: 9999;
        @include icons-sprite(accordion_open);
        width: 16px;
        height: 16px;
    }
}