.ui-autocomplete {
    border-radius: 0 0 4px 4px;
    overflow: hidden;

    .ui-menu-item {
        font-size: 13px;

        &.ui-state-focus {
            @include background-image(linear-gradient(#eee, #ccc))
        }
    }
}
