.btn {
    margin-bottom: 0;
    font-family:   Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
    border: 1px solid #9e9e9e;
    white-space: nowrap;
    border-radius: 6px;
    width: 10em;
    padding: 10px;
    color: #000;
    background: #EBEBEB;
    text-decoration: none;

    @include box-shadow(0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6));
    @include background-image(linear-gradient(top, white 0%, #ebebeb 50%, #e2e2e2 50%, #f7f7f7 100%));

}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn, button.disabled, button[disabled], fieldset[disabled] button,
.simple-btn.disabled, .simple-btn[disabled], fieldset[disabled] .simple-btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    box-shadow: none;
}

// TODO: Remove when routing fixes will be merged into develop
.btn-primary-light {
    background: $base-color-light-blue;
    border: 0;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.4;
    outline: 0;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        background: lighten($base-color-light-blue, 5%);
    }
}


.cts-simple-btn {
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.375;
    outline: 0;
    padding: 9px;
    position: relative;
    text-align: center;
    text-decoration: none;

    @include transition(background $transition-duration $transition-timing-function);

    &.is-disabled, &[disabled] {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.65;
        box-shadow: none;
    }

    .na-icon {
        position: absolute;
        top: 50%;
        left: 10px;
    }
}

.cts-btn-back {
    border-radius: 0 5px 5px 0;
    padding-left: 4px;
    position: relative;

    &:hover {
        &:before {
            border-right-color: lighten($base_charts_color_blue_light, 5%);
        }
    }

    &:before {
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 10px solid $base_charts_color_blue_light;
        content: '';
        display: block;
        position: absolute;
        right: 100%;
        top: 0;

        @include transition(border-color $transition-duration $transition-timing-function);
    }
}


.cts-simple-btn-blue-official {
    background: $base_charts_color_blue_oficial;
    color: $base_charts_color_white;

    &:hover {
        background: lighten($base_charts_color_blue_oficial, 5%);
    }
}

.cts-simple-btn-light-blue {
    background: $base_charts_color_blue_light;
    color: $base_charts_color_white;

    &:hover {
        background: lighten($base_charts_color_blue_light, 5%);
    }
}

.cts-simple-btn-red {
    background: $base_charts_color_red;
    color: $base_charts_color_white;

    &:hover {
        background: lighten($base_charts_color_red, 5%);
    }
}

.cts-simple-btn-green {
    background: $base_charts_color_green;
    color: $base_charts_color_white;

    &:hover {
        background: lighten($base_charts_color_green, 5%);
    }
}


.cts-view-btn-section {
    display: inline-block;
    position: relative;
}

.cts-view-btn {
    border: 1px solid $base_charts_color_white;
    border-radius: $jnc-view-btn-border-radius;
    box-sizing: border-box;
    color: $base_charts_color_white;
    cursor: pointer;
    display: inline-block;
    font-family: $base_charts_font_family;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
    padding: 9px 15px;
    position: relative;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;

    &.is-active {
        box-shadow: inset 0 0 0 2px $base_charts_color_white;
    }
    &.is-disabled {
        cursor: default;
        opacity: 0.5;
    }
    &.is-primary {
        @include transform(scale(1.2));

        z-index: 10;
    }
    .na-icon-carto_selector,
    .na-icon-sonar {
        overflow: hidden;
        vertical-align: middle;
        width: 25px;
        height: 25px;
        border: 1px solid $base_charts_color_white;
        border-radius: 50%;
        display: inline-block;
        line-height: 23px;
        &:before {
            line-height: 1;
            margin-top: 4px;
            display: block;
        }
    }
}

.cts-view-btn-small {
    font-size: 14px;
    padding: 6px 15px;
}
.cts-view-btn-large {
    font-size: 22px;
    padding: 10px 30px;
}

// Different button colors
.cts-view-btn-default {
    @include jnc-view-btn-style($base_charts_color_blue_oficial, $base_charts_color_blue_light);
}
.cts-view-btn-success {
    @include jnc-view-btn-style($base_charts_color_green, lighten($base_charts_color_green, 5%));
}
.cts-view-btn-danger {
    @include jnc-view-btn-style($base_charts_color_red, lighten($base_charts_color_red, 5%));
}


// 2nd level button
.cts-view-btn-sub {
    background: rgba(255, 255, 255, 0.9);
    border-radius: $jnc-view-btn-border-radius;
    display: none;
    line-height: 1.4;
    margin-bottom: 15px;
    position: absolute;
    left: 50%;
    bottom: 100%;
    width: 200px;
    z-index: 1000;

    @include transform(translateX(-50%));

    &.is-visible {
        display: block;
    }

    &.pos-top {
        top: auto;
        bottom: 100%;
        margin: 0 0 15px;

        &:after {
            border-width: 7px 7px 0;
            top: 100%;
            bottom: auto;
        }
    }

    &.pos-bottom {
        top: 100%;
        bottom: auto;
        margin: 15px 0 0;

        &:after {
            border-width: 0 7px 7px;
            top: auto;
            bottom: 100%;
        }
    }

    &:after {
        border-style: solid;
        border-width: 7px 7px 0;
        border-color: rgba(255, 255, 255, 0.9) transparent;
        content: '';
        display: block;
        margin-left: -7px;
        position: absolute;
        left: 50%;
        top: 100%;
    }

    .cts-sub-btn {
        border-bottom: 1px solid darken(rgba(255, 255, 255, 0.9), 10%);

        &:last-child {
            border-bottom-width: 0;
        }
    }
}
.cts-sub-btn {
    color: $base_charts_color_blue_light;
    display: block;
    font-family: $base_charts_font_family;
    font-size: 14px;
    padding: 7px;
    text-align: center;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &.state-danger {
        color: $base_charts_color_red;
    }
}

// Buttons group
.cts-view-btn-group {
    display: table;
    width: 1%;

    &.justified {
        table-layout: fixed;
        width: 100%;
    }
    &.cts-view-btn-group-bordered {
        border: 1px solid $base_charts_color_blue_oficial;
        border-radius: 6px;
    }

    .cts-view-btn-section {
        display: table-cell;
        width: 1%;

        &:first-child {
            .cts-view-btn {
                border-top-left-radius: $jnc-view-btn-border-radius;
                border-bottom-left-radius: $jnc-view-btn-border-radius;
            }
        }
        &:last-child {
            .cts-view-btn {
                border-top-right-radius: $jnc-view-btn-border-radius;
                border-bottom-right-radius: $jnc-view-btn-border-radius;
            }
        }

        .cts-view-btn {
            border-radius: 0;
            width: 100%;

            &.is-primary {
                border-radius: $jnc-view-btn-border-radius;
                padding: 9px 15px;
            }

            &:hover {
                z-index: 5;
            }
        }
    }
}
.cts-view-btn-group-small {
    .cts-view-btn-section {
        .cts-view-btn {
            @extend .cts-view-btn-small;

            &.is-primary {
                padding: 7px 10px;

                @include transform(scale(1.1));
            }
        }
    }
}
.cts-view-btn-group-large {
    .cts-view-btn-section {
        .cts-view-btn {
            @extend .cts-view-btn-large;

            &.is-primary {
                padding: 12px 25px;

                @include transform(scale(1.1));
            }
        }
    }
}
