.cts-checkbox {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
}

.cts-checkbox-input {
    display: none;

    &:checked + .cts-checkbox-item {
        background: $base_charts_color_green;
        border-color: $base_charts_color_green;
    }
}

.cts-checkbox-item {
    background: $base_charts_color_white;
    border: 1px solid $base_charts_color_grey;
    border-radius: 5px;
    color: $base_charts_color_white;
    display: inline-block;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    width: 26px;
    height: 26px;

    @extend .na-icon;
    @extend .na-icon-check;

    &:before {
        vertical-align: middle;
    }
}
