.cts-component-balloon {
    background: $base_charts_color_blue_oficial;
    border-radius: 10px;
    color: $base_charts_color_white;
    font-family: $base_charts_font_family;
    font-size: 16px;
    max-height: 320px;
    padding: 10px;
    position: absolute;
    width: 280px;
}

.cts-balloon-arrow {
    border-color: transparent;
    border-style: solid;
    border-width: 10px;
    position: absolute;
    width: 0;
    height: 0;
    z-index: 2;
}

.cts-balloon-arrow-top {
    border-bottom-color: $base_charts_color_blue_oficial;
    bottom: 100%;
}
.cts-balloon-arrow-right {
    border-left-color: $base_charts_color_blue_oficial;
    left: 100%;
}
.cts-balloon-arrow-bottom {
    border-top-color: $base_charts_color_blue_oficial;
    top: 100%;
}
.cts-balloon-arrow-left {
    border-right-color: $base_charts_color_blue_oficial;
    right: 100%;
}


.cts-balloon-arrow-top, .cts-balloon-arrow-bottom {
    &.cts-balloon-arrow-center {
        left: 50%;
        margin-left: -10px;
    }
}
.cts-balloon-arrow-left, .cts-balloon-arrow-right {
    &.cts-balloon-arrow-center {
        top: 50%;
        margin-top: -10px;
    }
}
