.cts-component-header {
    background: $base_charts_color_blue_oficial;
    height: $component-header-height;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    z-index: 10;

    .cts-simple-btn {
        font-size: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.cts-component-header-btn-left, .cts-component-header-btn-right {
    margin-top: -15px;
    position: absolute;
    top: 50%;
}

.cts-component-header-btn-left {
    left: 10px;

    &.cts-btn-back {
        left: 15px;
    }
}

.cts-component-header-btn-right {
    right: 10px;
}

.cts-component-header-title {
    color: #fff;
    display: table;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    height: $component-header-height;
    line-height: 18px;
    table-layout: fixed;
}

.cts-component-header-title-text {
    display: table-cell;
    padding: 0 10px;
    vertical-align: middle;

    &.has-buttons {
        padding: 0 100px;
    }
}

.cts-component-header-row {
    .cts-grid-col {
        padding-top: 7px;
        padding-bottom: 7px;

        &:first-child {
            padding-left: $grid-gutter;
        }
        &:last-child {
            padding-right: $grid-gutter;
        }
    }

    .cts-simple-btn {
        position: static;
    }
}

.cts-component-header-btn-col {
    width: 1%;
}
