.cts-content {
    font-family: $base_charts_font_family;
    height: 100%;
    position: relative;

    &.has-sorting-bar {
        .cts-scrollable {
            padding-top: $component-header-height + $sorting-bar-height;
        }
    }

    .cts-sorting-bar {
        top: $component-header-height;
    }
}

.cts-content-gray {
    background: $base_charts_color_grey_light;
}

.cts-scrollable {
    box-sizing: border-box;
    height: 100%;
    padding-top: $component-header-height;
}

.cts-scrollable-content {
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    position: relative;
}
