.cts-crosshair {
    cursor: default;
    position: relative;
    width: 16px;
    height: 16px;

    .cts-square-icon {
        margin: -18px 0 0 ($crosshair-middle-space + $crosshair-line-length + 5px);
        position: absolute;
        left: 100%;
        top: 50%;
    }
}

.cts-crosshair-x, .cts-crosshair-y {
    &:before, &:after {
        background: $base_charts_color_black;
        border: 1px solid $base_charts_color_white;
        border-radius: 3px;
        box-shadow: 0 1px 1px $crosshair-shadow-color;
        content: '';
        display: block;
        position: absolute;
    }
}

.cts-crosshair-x {
    &:before, &:after {
        margin-top: -2px;
        top: 50%;
        width: $crosshair-line-length;
        height: 4px;
    }
    &:before {
        right: 100%;
        margin-right: $crosshair-middle-space;
    }
    &:after {
        left: 100%;
        margin-left: $crosshair-middle-space;
    }
}

.cts-crosshair-y {
    &:before, &:after {
        margin-left: -2px;
        left: 50%;
        height: $crosshair-line-length;
        width: 4px;
    }
    &:before {
        bottom: 100%;
        margin-bottom: $crosshair-middle-space;
    }
    &:after {
        top: 100%;
        margin-top: $crosshair-middle-space;
    }
}

.cts-crosshair-plus {
    color: $base_charts_color_black;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    height: 16px;
    line-height: 16px;
    margin: -8px 0 0 -8px;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    text-shadow:
        1px 0 0 $base_charts_color_white,
        -1px 0 0 $base_charts_color_white,
        0 1px 0 $base_charts_color_white,
        0 -1px 0 $base_charts_color_white,
        0 1px 1px $base_charts_color_black;
    vertical-align: middle;
    width: 16px;

    &:after {
        content: '+';
    }
}