.cts-preloader-overlay {
    background: transparentize(#636363, 0.4);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
}

.cts-preloader {
    margin: -20px 0 0 -16px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 32px;
    height: 40px;

    > div {
        background-color: $base_charts_color_white;
        border-radius: 5px 5px 0 0;
        position: absolute;
        width: 5px;
        height: 12px;

        @include animation-direction(normal);
        @include animation-duration(1.04s);
        @include animation-iteration-count(infinite);
        @include animation-name(fadeG);

        // animation-delay values was generated automatically!
        &:nth-child(1) {
            left: 0;
            top: 15px;

            @include animation-delay(0.39s);
            @include transform(rotate(-90deg));
        }
        &:nth-child(2) {
            left: 4px;
            top: 5px;

            @include animation-delay(0.52s);
            @include transform(rotate(-45deg));
        }
        &:nth-child(3) {
            left: 13px;
            top: 2px;

            @include animation-delay(0.65s);
            @include transform(rotate(0deg));
        }
        &:nth-child(4) {
            right: 4px;
            top: 5px;

            @include animation-delay(0.78s);
            @include transform(rotate(45deg));
        }
        &:nth-child(5) {
            right: 0;
            top: 15px;

            @include animation-delay(0.9099999999999999s);
            @include transform(rotate(90deg));
        }
        &:nth-child(6) {
            right: 4px;
            bottom: 4px;

            @include animation-delay(1.04s);
            @include transform(rotate(135deg));
        }
        &:nth-child(7) {
            bottom:0;
            left:13px;

            @include animation-delay(1.1700000000000002s);
            @include transform(rotate(180deg));
        }
        &:nth-child(8) {
            left: 4px;
            bottom: 4px;

            @include animation-delay(1.3s);
            @include transform(rotate(-135deg));
        }
    }
}

@mixin fadeGAnimation {
    0% {
        background-color: $base_charts_color_black;
    }
    100% {
        background-color: $base_charts_color_white;
    }
}

@-moz-keyframes fadeG {
    @include fadeGAnimation;
}
@-webkit-keyframes fadeG {
    @include fadeGAnimation;
}
@keyframes fadeG {
    @include fadeGAnimation;
}
