.map-btn {
    background: $base_charts_color_blue_oficial;
    border: 2px solid $base_charts_color_white;
    border-radius: 50%;
    box-shadow: 0 0 0 1px $base_charts_color_blue_oficial;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    color: #fff;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 20px;
    line-height: $map-btn-s;
    text-align: center;
    width: $map-btn-s;
    height: $map-btn-s;

    @include user-select(none);

    &.is-active,
    &:hover {
        background: $base_charts_color_blue_light;
    }

    &.is-disabled {
        cursor: default;
        opacity: 0.5;

        &:hover {
            background: $base_charts_color_blue_oficial;
        }
    }
}
