.cts-measure {
    display: inline;
    font-size: 1em;

    &.is-big {
        font-size: 3em;

        .cts-measure-number {
            span {
                font-size: .6em;
            }
        }
        .cts-measure-item {
            display: inline-block;
            font-size: .2em;
            margin-right: -1.5em;
            position: relative;
            top: -2.8em;
            left: -1.5em;
            text-align: center;
            width: 1.5em;

            &:before {
                content: '';
            }
        }
    }
    &.is-aligned {
        .cts-measure-number {
            span {
                font-size: 1em;
            }
        }
        .cts-measure-item {
            font-size: 1em;

            &:before {
                font-size: 1em;
            }
        }
    }
    .cts-measure-item {
        font-size: .4em;

        &:before {
            content: ' ';
            font-size: .4em;
        }
    }
    .cts-measure-number {
        display: inline;
    }
}

.cts-time {
    font-size: 100%;
    display: inline;

    span {
        &.cts-time-number:nth-child(5) {
            font-size: 60%;
        }
        &.cts-time-unit {
            text-transform: uppercase;
            font-size: 40%;
        }
    }
}
