.cts-params-page {
    padding: 20px 0;
}

.cts-params-descr {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    padding: 0 20px;
    text-align: center;
}
.cts-params-descr-after {
    margin-top: -15px;
}
.cts-params-descr-before {
    margin-bottom: 5px;
}

// Base styles of parameter element
.cts-params-block {
    background: $base_charts_color_white;
    border: 1px solid $base_charts_color_grey;
    border-width: 1px 0;
    display: block;
    margin-bottom: 20px;
    position: relative;
}

.cts-params-link {
    color: $base_charts_color_blue_oficial;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    position: relative;
    padding: 21px 20px;
    text-decoration: none;

    @extend .cts-params-block;
    
    &:hover {
        background: darken($base_charts_color_white, 5%);
    }

    .na-icon {
        color: #999;
        font-size: 24px;
        line-height: 24px;
        margin-top: -12px;
        position: absolute;
        right: 20px;
        top: 50%;
    }
}

.cts-params-label {
    color: $base_charts_color_blue_oficial;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    position: relative;
    padding: 21px 20px;

    @extend .cts-params-block;
}

.cts-params-checkbox-input {
    display: none;

    &:checked + .cts-params-checkbox {
        background: $base_charts_color_green;
        border-color: $base_charts_color_green;
    }
}

.cts-params-checkbox {
    background: $base_charts_color_white;
    border: 1px solid #bababa;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    line-height: 26px;
    margin-top: -13px;
    position: absolute;
    right: 20px;
    top: 50%;
    text-align: center;
    width: 26px;
    height: 26px;

    &:before {
        vertical-align: middle;
    }
}

.cts-params-item {
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }
}

.cts-params-item-header {
    color: $base_charts_color_blue_oficial;
    cursor: default;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
}

.cts-params-list {
    margin: 0 0 20px;

    &:last-child {
        margin-bottom: 0;
    }

    .cts-params-link {
        border-bottom-width: 0;
        margin: 0;

        &:last-child {
            border-bottom-width: 1px;
        }
    }
}

.cts-params-group {
    padding: 20px;

    @extend .cts-params-block;

    .cts-view-btn {
        padding-left: 0;
        padding-right: 0;
    }
}

.cts-params-btn {
    margin-bottom: 20px;
    padding: 0 20px;

    .cts-simple-btn {
        display: block;
    }
}
