.cts-pb-balloon-content {
    font-size: 15px;
}

.cts-pb-balloon-section {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;

    &:first-child {
        padding-top: 0;
    }
    &:last-child {
        border-bottom-width: 0;
        padding-bottom: 0;
    }
}

.cts-pb-balloon-title {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.cts-pb-balloon-track-status {
    text-align: center;

    .track-status-icon {
        display: inline-block;
        line-height: 29px;
        vertical-align: middle;
        width: 29px;
        height: 29px;
    }
}
.cts-pb-balloon-track-status-title {
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
}
.cts-pb-balloon-track-status-info {
    background: $base-color-light-blue;
    border-radius: 50%;
    color: $base_charts_color_white;
    display: inline-block;
    font-family: Georgia, Times New Roman, Times, serif;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

.cts-pb-balloon-date {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.cts-pb-balloon-track-info,
.cts-pb-balloon-speed-info {
    list-style: none;
    margin: 0;
    padding: 0;

    .cts-time, .cts-measure {

        .cts-time-number, .cts-time-value, .cts-measure-number {
            font-weight: bold;
        }

        .cts-measure-item, .cts-measure-number, .cts-time-unit {
            font-size: 100%;
            span {
                font-size: 100%;
            }
        }
    }
}

.cts-pb-balloon-track-info {
    margin-bottom: 10px;

    @include clearfix;

    li {
        float: left;
        width: 50%;

        &:nth-child(even) {
            text-align: right;
        }
    }
}

.cts-pb-balloon-speed-info {
    text-align: center;
}
