.cts-progress-bar {
    position: relative;
    height: 6px;
}

.cts-progress-bar-line {
    background: $base_charts_color_blue_light;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;

    @include transition(width .2s ease);
}