.cts-rating-selector {
    direction: rtl;
    font-size: 0;
    display: inline-block;
    line-height: 0;
    unicode-bidi: bidi-override;
    white-space: nowrap;

    > label {
        color: $rating-star-color;
        cursor: pointer;
        display: inline-block;

        &:hover, &.is-active {
            ~ label {
                .cts-rating-star {
                    @extend .na-icon-star-filled;
                }
            }

            .cts-rating-star {
                @extend .na-icon-star-filled;
            }
        }

        input {
            display: none;
        }
    }
}

.cts-rating-star {
    font-size: 20px;
    line-height: 20px;

    @extend .na-icon;
    @extend .na-icon-star;
}