.cts-rating {
    line-height: 16px;
}

.cts-rating-stars {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;

    .na-icon {
        color: $rating-star-color;
        display: inline;
        font-size: 14px;
        line-height: 14px;
        position: static;

        @media all and (min-width: $bp-s) {
            font-size: 16px;
            line-height: 16px;
        }
    }
}

.cts-rating-votes {
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}
