.cts-search-form {
    background: #c0c1c8;
    padding: 10px;
}

.cts-search-form-input {
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
    width: 100%;

    &:focus, &:active, &.has-search-term {
        text-align: left;
    }
}
