.cts-select {
    background: $base_charts_color_blue_oficial;
    border: 1px solid $base_charts_color_white;
    border-radius: 5px;
    box-shadow: 0 0 0 1px $base_charts_color_blue_oficial;
    color: $base_charts_color_white;
    font-family: $base_charts_font_family;
    outline: 0;

    &.ui-state-hover {
        background: $base_charts_color_blue_light;
    }
    &[aria-expanded="true"] {
        background: $base_charts_color_blue_light;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        span {
            &.ui-icon {
                &:after {
                    border-top: 0;
                    border-bottom: 5px solid $base_charts_color_white;
                }
            }
        }
    }

    span {
        &.ui-selectmenu-text {
            box-sizing: border-box;
            font-size: 14px;
            font-weight: 700;
            height: 35px;
            line-height: 35px;
            padding: 0 10px;
            min-width: 140px;
        }
        &.ui-icon {
            background: transparent;
            margin: -3px 0 0;
            right: 10px;
            width: auto;
            height: auto;

            &:after {
                border-top: 5px solid $base_charts_color_white;
                border-right: 5px solid transparent;
                border-left: 5px solid transparent;
                content: '';
                display: block;
                width: 0;
                height: 0;
            }
        }
    }
}

.ui-selectmenu-menu {
    z-index: 1000;

    .cts-select-options {
        padding: 0;
    }
}
.cts-select-options {
    border: 1px solid $base_charts_color_white;
    border-bottom-width: 0;
    box-shadow: 0 0 0 1px $base_charts_color_blue_oficial;
    overflow: hidden;

    &.ui-corner-bottom {
        border-radius: 0 0 5px 5px;
    }

    .ui-menu-item {
        background: $base_charts_color_blue_oficial;
        border: 0;
        border-bottom: 1px solid $base_charts_color_white;
        color: $base_charts_color_white;
        font-family: $base_charts_font_family;
        font-size: 14px;
        font-weight: bold;
        height: 35px;
        line-height: 35px;
        overflow: hidden;
        padding: 0 10px;
        width: auto;

        &:hover {
            background: $base_charts_color_blue_light;
        }

        &.ui-state-focus {
            margin: 0;
        }
    }
}