.cts-sorting-bar {
    background: $base_charts_color_blue_oficial;
    box-sizing: border-box;
    height: $sorting-bar-height;
    padding: 5px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    a {
        &.is-active {
            cursor: default;
        }
    }
}

.cts-sorting-bar-btns {
    display: table;
    table-layout: fixed;
    width: 100%;

    a {
        border: 1px solid $base_charts_color_white;
        border-right-width: 0;
        color: $base_charts_color_white;
        cursor: pointer;
        display: table-cell;
        font-size: 13px;
        line-height: 20px;
        margin-left: -1px;
        padding: 5px;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        width: 1%;

        &:first-child {
            border-radius: 5px 0 0 5px;
        }
        &:last-child {
            border-radius: 0 5px 5px 0;
            border-right-width: 1px;
        }

        &.is-active {
            background: $base-color-light-blue;
            box-shadow: inset 0 0 0 1px $base_charts_color_white;
            cursor: default;
        }
    }
}
