.cts-square-icon {
    $size: 37px;
    background: $base_charts_color_blue_light;
    border: 1px solid $base_charts_color_blue_oficial;
    border-radius: 5px;
    box-shadow: inset 0 0 0 2px $base_charts_color_white;
    box-sizing: border-box;
    color: $base_charts_color_white;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    height: $size;
    line-height: $size - 2;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: $size;

    &:hover {
        box-shadow: none;
    }
}