.cts-switcher {
    background: $base_charts_color_blue_oficial;
    border-radius: 5px;
    color: $base_charts_color_white;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    padding: 1px;

    label {
        cursor: pointer;

        &:first-child {
            span {
                border-radius: 4px 0 0 4px;
            }
        }
        &:last-child {
            span {
                border-radius: 0 4px 4px 0;
            }
        }

        input {
            position: absolute;
            left: -9999px;
            visibility: hidden;

            &:checked {
                + span {
                    border-color: #fff;
                    background: $base-color-light-blue;
                }
            }
        }
        span {
            box-sizing: border-box;
            border: 2px solid transparent;
            border-radius: 5px;
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
            height: 40px;
            line-height: 36px;
            overflow: hidden;
            padding: 0 15px;
        }
    }
}
