.cts-tabs {
    display: block;
    line-height: 13px;
    list-style: none;
    margin: 0;
    padding: 0;

    @include clearfix;

    .cts-tab-item {
        &:first-child {
            a {
                border-radius: 4px 0 0 4px;
            }
        }
        &:last-child {
            a {
                border-radius: 0 4px 4px 0;
            }
        }
    }
}
.cts-tab-item {
    display: block;
    float: left;

    &.active {
        a {
            background: $base_charts_color_blue_light;
            border-color: $base_charts_color_blue_light;
            color: $base_charts_color_white;

            &:after {
                border: 10px solid transparent;
                border-top-color: $base_charts_color_blue_light;
                content: '';
                margin-left: -10px;
                pointer-events: none;
                position: absolute;
                left: 50%;
                top: 100%;
                width: 0;
                height: 0;
                z-index: 99999;
            }
        }
    }
    a {
        background: $base_charts_color_white;
        border: 1px solid #9e9e9e;
        color: $base_charts_color_black;
        display: block;
        line-height: 16px;
        font-size: 16px;
        font-weight: bold;
        padding: 10px;
        position: relative;
        text-align: center;
        text-decoration: none;
    }
}
