.cts-track-list-status-tooltip-container {
    margin-top: 10px;
    padding-left: 40px;
    position: absolute;

    @include transform(translateY(-50%));
}

.cts-track-list-status-tooltip {
    background: $base_charts_color_white;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    color: #333;
    font: 13px/17px Arial, sans-serif;
    max-width: 200px;
    padding: 10px;
    position: relative;
    white-space: nowrap;

    &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        right: 100%;
        top: 50%;
    }
    &:before {
        border-right: 12px solid #ccc;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        margin-top: -12px;
    }
    &:after {
        border-right: 10px solid $base_charts_color_white;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        margin-top: -10px;
    }
}

.cts-track-list-status-tooltip-round {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    vertical-align: middle;
    width: 10px;

    &.status-accepted {
        background: $base_charts_color_blue_light;
    }

    &.status-processing {
        background: $base_charts_color_grey;
    }

    &.status-rejected {
        background: $base_charts_color_orange;
    }

    &.status-waiting {
        background: $base_charts_color_grey;
    }
}

.cts-track-list-status-tooltip-more {
    color: $base_charts_color_blue_light;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}
