.track-status-icon {
    border: 1px solid $base_charts_color_white;
    border-radius: 50%;
    color: $base_charts_color_white;
    display: block;
    line-height: 20px;
    text-align: center;
    width: 20px;
    height: 20px;
    
    &.status-accepted {
        background: $base_charts_color_blue_light;
    }
    &.status-processing {
        background: $base_charts_color_grey;
    }
    &.status-rejected {
        background: $base_charts_color_orange;
    }
    &.status-waiting {
        background: $base_charts_color_grey;
    }
}