.cts-qi-add-poi {
    padding: 10px;
}

.cts-poi-type {
    display: table;
    margin-bottom: 25px;
    width: 100%;
}

.cts-poi-type-col {
    display: table-cell;
    vertical-align: middle;
}

.cts-poi-type-icon {
    width: 75px;

    img {
        vertical-align: middle;
    }
}

.cts-poi-type-title {
    font-weight: bold;
    font-size: 22px;
}

.cts-form-group {
    margin-bottom: 15px;
}

.cts-form-title {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 3px;

    @media all and (min-width: $bp-s) {
        font-size: 16px;
    }
}


.cts-form-section-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.cts-review-form {
    border: 1px solid $base_charts_color_grey;
    border-radius: 5px;
    margin-bottom: 15px;
    overflow: hidden;
}

.cts-review-rating {
    background: darken($base_charts_color_grey_light, 5%);
    padding: 10px;
    text-align: center;
}

.cts-review-title, .cts-review-text {
    border: 0;
    border-top: 1px solid $base_charts_color_grey;
    box-sizing: border-box;
    font-family: $base_charts_font_family;
    font-size: 14px;
    margin: 0;
    outline: none;
    padding: 6px 10px;
    vertical-align: top;
    width: 100%;
}

.cts-review-text {
    resize: none;
}

.cts-poi-add {
    margin: 20px 0;
    text-align: center;
    
    .cts-simple-btn {
        min-width: 200px;
    }
}

.cts-poi-info-text {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    margin: 20px 0;
    text-align: center;
}

.cts-form-checkbox {
    background: $base_charts_color_white;
    border: 1px solid $base_charts_color_grey;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    padding: 10px;
    position: relative;

    .cts-form-title {
        margin: 0;
    }
    .cts-checkbox-item {
        margin-top: -13px;
        position: absolute;
        right: 10px;
        top: 50%;
    }
}

.cts-fuel-prices-row {
    margin-left: -20px;

    @include clearfix;

    .cts-form-group {
        float: left;
        margin-left: 20px;
        width: 150px;
    }

    .cts-form-control {
        font-size: 42px;
        font-weight: bold;
    }
}