.cts-balloon-mobile-alert {
    width: auto;
    z-index: 99999;

    .cts-simple-btn {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.cts-balloon-mobile-alert-text {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
    white-space: nowrap;
}

.cts-balloon-mobile-alert-btn {
    text-align: right;
}