.boat-settings-view {
    background: $base_charts_color_grey_light;
}

.boat-settings-view-single {
    background: $base_charts_color_white;
}

.boat-settings-view, .boat-settings-view-single {
    font-family: $base_charts_font_family;
    height: 100%;
    position: relative;

    // TODO: Replace in DWS by jnc-component header and remove this styles.
    .menu-header {
        background: $base_charts_color_blue_oficial;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        text-align: center;
    }
    .param-value {
        font-weight: bold;
        position: relative;

        .input-container {
            padding-top: 35px;
            text-align: center;

            .setting-value {
                background: $settings_boating_color_value;
                border: 0;
                border-radius: 5px;
                font-size: 70px;
                font-weight: bold;
                height: 100px;
                text-align: center;
                width: 190px;
                padding: 1px;
            }
        }

        .gap-value {
            font-size: 18px;
            margin: 12px 30px 0;

            @include clearfix;

            .cts-measure,
            .cts-measure .cts-measure-item {
                font-size: inherit;
            }
            .min-value {
                float: left;
            }
            .max-value {
                float: right;
            }
        }
    }
    .params-section {
        margin-bottom: 20px;

        &.draft, &.speed, &.consumption, &.safetyDepth {
            clear: both;
            padding: 0 10px;

            .button-group {
                font-size: 20px;
                height: 50px;

                .button {
                    &.is-active {
                        background: $base_charts_color_blue_oficial;
                        color: $base_charts_color_white;
                    }
                    &.middle {
                        border-left-width: 0;
                        border-right-width: 0;
                    }
                }
            }
        }
    }

    .cts-params-link {
        .name-category {
            margin-right: 20px;
        }
        .cts-measure {
            .cts-measure-item {
                font-size: 1em;
                margin-left: 5px;

                &:before {
                    display: none;
                }
            }
        }
    }

}

