.cas-loader {
    min-height: 38px;
}

.button-group {
    display: table;
    width: 100%;
    height: 45px;

    .button {
        display: table-cell;
        vertical-align: middle;
        width: 1%;

        @include border-radius(0);

        &:first-child {
            @include border-radius(5px 0 0 5px);
        }
        &:last-child {
            @include border-radius(0 5px 5px 0);
        }
    }
}

.form-button {
    background: $base_charts_color_blue_oficial;
    border: 0;
    border-radius: 5px;
    color: $base_charts_color_white;
    cursor: pointer;
    display: block;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    width: 100%;

    @include transition(all $transition-duration $transition-timing-function);

    &:hover {
        background: lighten($base_charts_color_blue_oficial, 5%);
    }
}
.button-secondary-style {
    background: $base_charts_color_green;

    &:hover {
        background: lighten($base_charts_color_green, 5%);
    }
}

/* src/frontend/stylesheets/components/forms.less start */
.form-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.form-text {
    margin-bottom: 10px;
}

.form-inputs-block {
    margin-bottom: 20px;

    .form-input-line {
        margin-bottom: 10px;
    }
}

.form-button-block {
    margin-bottom: 20px;
}
/* src/frontend/stylesheets/components/forms.less end */


.login-form {
    background: #eee;
    padding: 10px;
}

.form-input {
    border: 1px solid #aaa;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    padding: 8px 10px;
    width: 100%;
}

.login-forgot-password {
    text-align: right;
}

.login-reg-link-block {
    text-align: center;
}

// Registration
.reg-hide-pass {
    font-size: 14px;
    text-align: right;

}
.reg-agree {
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
}

.reg-upload-ava {
    margin-bottom: 20px;
}
.reg-upload-ava-preview {
    background: #fff url(images/icons/avatar.png) no-repeat center center;
    border: 1px solid #aaa;
    border-radius: 5px;
    float: left;
    overflow: hidden;
    width: 52px;
    height: 52px;
}
.reg-upload-ava-content {
    margin-left: 60px;
}

.reg-upload-ava-title {
    font-size: 15px;
    font-weight: bold;
    margin: 5px 0;
}

.reg-upload-ava-uploader {
    font-size: 16px;
}

// Profile
.profile-info {
    margin-bottom: 15px;
}
.profile-info-name {
    font-size: 18px;
    font-weight: bold;
    padding: 15px 0 0;
}
.messagebox {
    display: block;
    background: #eee;
    padding: 5px;
    margin: 0 auto;
    font: 15px/20px 'Roboto', Arial, Helvetica, sans-serif;
    text-align: center;
    &.mistake, &.error {
        color: #FF0000;
    }
}

