.cts-cookie-banner {
    background: $base_charts_color_blue_oficial;
    box-shadow: inset 0 -10px 10px rgba(0,0,0,0.1);
    font-family: $base_charts_font_family;
    position: relative;
}

.cts-cookie-banner-text {
    color: $base_charts_color_white;
    font-size: 14px;
    line-height: 20px;
    padding: 15px 60px 15px 20px;

    @media all and (min-width: $bp-md) {
        font-size: 16px;
        line-height: 24px;
        padding: 15px 90px 15px 60px;
    }

    a {
        color: $base_charts_color_white;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

.cts-cookie-banner-close {
    border: 2px solid $base_charts_color_white;
    border-radius: 50%;
    box-sizing: border-box;
    color: $base_charts_color_white;
    cursor: pointer;
    display: block;
    font-family: Arial, sans-serif;
    font-size: 22px;
    line-height: 27px;
    position: absolute;
    right: 20px;
    top: 15px;
    text-align: center;
    vertical-align: middle;
    width: 30px;
    height: 30px;

    @media all and (min-width: $bp-md) {
        right: 50px;
    }
}
