.cts-dealer-locator {
    background: $base_charts_color_white;
    border: 1px solid $base_charts_color_grey_light;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    width: 280px;
    height: 118px;
    z-index: 10;
}

.cts-dealer-locator-title {
    color: $base_charts_color_black;
    font: 600 16px/21px $base_charts_font_family;
    text-align: center;
}

.cts-radio-group {
    background: $base_charts_color_white;
    border: 1px solid $base_charts_color_blue_oficial;
    border-radius: 2px;

    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

.cts-radio-group-button {
    display: block;
    float: left;
    width: 50%;
    position: relative;
    color: $base_charts_color_blue_oficial;
    font: 400 14px/23px $base_charts_font_family;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    &.selected {
        background: $base_charts_color_blue_oficial;
        color: $base_charts_color_white;
        font-weight: 700;

        &:before {
            content: "\25B6";
            position: absolute;
            top: 0;
            left: 5px;
            line-height: 23px;
        }
    }
}

.cts-search-panel {
    background: $base_charts_color_white;
    border: 1px solid $base_charts_color_grey_dark;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.50);
    cursor: text;
    margin: 5px 0 0;
    position: relative;

    .cts-close-button {
        position: absolute;
        top: round((30px - 17px)/2);
        right: 5px;
        width: 17px;
    }
}
.cts-dealer-input {
    background: transparent;
    border: 0;
    color: $base_charts_color_black;
    display: block;
    font: 15px/30px $base_charts_font_family;
    padding: 0 25px 0 5px;
    width: 100%;
    height: 30px;
}