.cts-fuel-item {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    display: block;
    font-size: 13px;
    padding: 15px 0;

    &:hover {
        background: $list-item-hover-bg-color;
    }

    &.is-active {
        background: $base-color-light-blue;
        color: #fff;
    }
}

.cts-fuel-item-row {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.cts-fuel-item-col {
    display: table-cell;
    vertical-align: middle;
}
.cts-fuel-item-icon {
    padding: 0 5px;
    width: 50px;
    text-align: center;
}
.cts-fuel-item-val-names {
    padding: 0 5px;
    width: 25%;
}
.cts-fuel-item-vals {
    padding: 0 10px 0 5px;
    width: 20%;
}

.cts-fuel-station-name {
    font-weight: bold;
}
.cts-fuel-item-val-name, .cts-fuel-item-val {
    font-weight: bold;
    line-height: 20px;
    white-space: nowrap;
}
