.cts-search-group {
    &:last-child {
        .cts-search-group-head {
            border-bottom-width: 1px;
        }
    }
}

.cts-search-group-head {
    background: $base_charts_color_white;
    border: solid $base_charts_color_grey;
    border-width: 1px 0 0;
    color: $base_charts_color_black;
    cursor: pointer;
    display: block;
    font-size: 14px;
    padding: 0 10px 0 20px;
    position: relative;
    text-decoration: none;

    &:before {
        border-left: 8px solid $base_charts_color_grey;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        content: '';
        display: block;
        margin-top: -5px;
        position: absolute;
        left: 10px;
        top: 50%;

        @include transition(transform $transition-duration $transition-timing-function);
    }

    &.is-active {
        background: $base_charts_color_blue_light;

        &:before {
            border-left-color: $base_charts_color_white;

            @include transform(rotate(90deg));
        }

        .cts-search-group-head-title {
            color: $base_charts_color_white;
        }

        .cts-search-group-head-count {
            color: $base_charts_color_white
        }
    }

    .cts-grid-table {
        min-height: 50px;
    }
}

.cts-search-group-head-icon {
    text-align: center;
    width: 60px;

    img {
        max-width: 100%;
    }
}

.cts-search-group-head-count {
    font-weight: bold;
    text-align: right;
    width: 1%;
}

.cts-search-group-list {
    display: none;

    &.is-visible {
        display: block;
    }
}
