//Combination of positions for map buttons (when some enabled/disabled)
$position-1: 20px;
$position-2: 60px;
$position-3: 110px;
$position-4: 160px;
$position-5: 210px;

.charts-map {

  .unit-section {
	&.distance,
	&.depth {
	  z-index: 99;
	}
  }
  .ol-scale-line{
	z-index: 99;
  }

  &.has-scale-line.has-ruler {

	&.has-distance.has-depth
	{
	  .unit-section {
		&.distance {
		  bottom: $position-4;
		}

		&.depth {
		  bottom: $position-3;
		}
	  }
	  .ol-scale-line{
		bottom: $position-5;
	  }
	}

	&.has-distance {
	  .unit-section {
		&.distance {
		  bottom: $position-3;
		}
	  }
	  .ol-scale-line{
		bottom: $position-4;
	  }
	}

	&.has-depth {
	  .unit-section {
		&.depth {
		  bottom: $position-3;
		}
	  }
	  .ol-scale-line{
		bottom: $position-4;
	  }
	}
  }


  &.has-ruler {
	&.has-distance.has-depth
	{
	  .unit-section {
		&.distance {
		  bottom: $position-4;
		}

		&.depth {
		  bottom: $position-3;
		}
	  }
	}

	&.has-depth
	{
	  .unit-section {
		&.depth {
		  bottom: $position-3;
		}
	  }
	}

	&.has-distance
	{
	  .unit-section {
		&.distance {
		  bottom: $position-3;
		}
	  }
	}
  }

  &.has-distance.has-depth
   {
	 .unit-section {
	   &.distance {
		 bottom: $position-2;
	   }

	   &.depth {
		 bottom: $position-1;
	   }
	 }
   }

	&.has-depth
	{
	  .unit-section {
		&.depth {
		  bottom: $position-1;
		}
	  }
	}

	&.has-distance
	{
	  .unit-section {
		&.distance {
		  bottom: $position-1;
		}
	  }
	}

  &.has-scale-line {

	&.has-distance.has-depth
	{
	  .unit-section {
		&.distance {
		  bottom: $position-2;
		}

		&.depth {
		  bottom: $position-1;
		}
	  }
	  .ol-scale-line{
		bottom: $position-3;
	  }
	}

	&.has-distance {
	  .unit-section {
		&.distance {
		  bottom: $position-1;
		}
	  }
	  .ol-scale-line{
		bottom: $position-2;
	  }
	}

	&.has-depth {
	  .unit-section {
		&.depth {
		  bottom:$position-1;
		}
	  }
	  .ol-scale-line{
		bottom: $position-2;
	  }
	}
  }

	@media only screen and (max-height : $bp-s-with-header) and (orientation : landscape) {
	  .unit-section {
		div {
		  display: none !important;
		}
	  }
	  .ol-scale-line{
		bottom: 80px !important;
	  }
  	}
}

