.cts-navigable-item-checkbox {
    display: none;

    &:checked {
        + label {
            background: $base_charts_color_red;
            border-color: $base_charts_color_red;

            span {
                display: block;
            }
        }
    }

    + label {
        border: 1px solid $base_charts_color_grey_dark;
        border-radius: 3px;
        color: $base_charts_color_white;
        cursor: pointer;
        display: inline-block;
        height: 17px;
        position: absolute;
        left: 13px;
        top: 18px;
        width: 17px;

        span {
            display: none;
            text-align: center;

            &:before {
                content: "\2714";
                font-size: 1em;
                line-height: 1.3em;
                text-align: center;
                vertical-align: middle;
            }
        }
    }
}

// Footer
.cts-navigable-list-footer {
    background: $base_charts_color_blue_oficial;
    font-size: 13px;
    font-family: $base_charts_font_family;
    height: 58px;
    line-height: 18px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.cts-navigable-items-select-btn {
    vertical-align: middle;
}
.cts-navigable-items-cancel-btn {
    float: left;
}

.cts-navigable-items-delete-btn {
    float: right;
}

.cts-navigable-list-footer-text {
    color: $base_charts_color_white;
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle;
}