.cts-page-head {
    background: $base_charts_color_blue_oficial;
    box-shadow: 0 2px 5px rgba(0,0,0,0.6);
    font-family: $base_charts_font_family;
    padding: 15px;
    position: relative;
    z-index: 1;

    @include clearfix;
}

// Logotype
.cts-page-logo {
    float: left;
    margin-top: 1px;
    position: relative;
    z-index: 1;

    @media all and (min-width: $bp-md) {
        float: none;
        margin-bottom: 10px;
    }
    @media all and (min-width: $bp-lm) {
        float: left;
        margin-bottom: 0;
    }

    a {
        @include headerfooter-sprite(logo);
        display: block;
        width: headerfooter-sprite-width(logo);
        height: headerfooter-sprite-height(logo);
    }
}

// Navigation toggle button
.cts-nav-toggle {
    border: 1px solid $base_charts_color_white;
    border-radius: 5px;
    box-sizing: border-box;
    color: $base_charts_color_white;
    float: right;
    font-size: 20px;
    line-height: 38px; // Height - top and bottom border-width. Because we use box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    width: 40px;
    height: 40px;

    @media all and (min-width: $bp-md) {
        display: none;
    }

    &:hover {
        background: $base_charts_color_blue_light;
    }

    &:before {
        position: relative;
        top: 2px;
    }

    &.is-active {
        background: $base_charts_color_blue_light;
        box-shadow: inset 0 0 0 3px $base_charts_color_white;
    }
}


.cts-head-collapsable {
    background: $base_charts_color_white;
    box-shadow: $header-box-shadow;
    display: none;
    padding: 10px;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;

    @media all and (min-width: $bp-md) {
        background: transparent;
        box-shadow: none;
        display: block;
        padding: 0;
        position: relative;
    }

    &.is-visible {
        display: block;
    }
}

// Navigation
.cts-nav-menu-wrap {
    @media all and (min-width: $bp-l) {
        margin: 0 225px 0 0;
    }
    @media all and (min-width: $bp-lm) {
        margin: 0 225px 0 215px;
    }
}
.cts-nav-menu {
    margin: 0 auto;

    @media all and (min-width: $bp-lm) {
        max-width: 1000px;
    }

    .cts-view-btn {
        font-weight: normal;
        padding: 8px 0;

        &.is-active {
            + .cts-nav-sub {
                display: block;
            }
        }

        &:hover {
            background: $base_charts_color_blue_light;
            border-color: $base_charts_color_white;
        }
    }
    .cts-view-btn-section {
        @media all and (max-width: ($bp-md - 1)) {
            display: block;
            width: auto;

            &:first-child, &:last-child {
                .cts-view-btn {
                    border-radius: 0;
                }
            }
        }
        .cts-view-btn {

            @media all and (max-width: ($bp-md - 1)) {
                display: block;
            }

            &.is-active {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }
}

// Sub Navigation
.cts-nav-sub {
    background: $base_charts_color_white;
    border-radius: 0 0 5px 5px;
    box-shadow: $header-box-shadow;
    display: none;
    padding: 20px;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1000;

    &.align-right {
        left: auto;
        right: 0;
    }
}

.cts-nav-sub-title {
    margin-bottom: 20px;

    a {
        color: $base_charts_color_black;
        text-decoration: none;
    }
}

// Chartplotter sub navigation
.cts-nav-sub-chartplotter {
    width: 780px;
}
.cts-chartplotter-items {
    font-size: 0;
    line-height: 0;
    list-style: none;
    margin: 0 -10px;
    padding: 0;
    text-align: center;

    li {
        box-sizing: border-box;
        display: inline-block;
        margin: 0 0 10px;
        padding: 0 10px;
        vertical-align: top;
        width: 200px;
        height: 64px;
    }
}

.cts-chartplotter-item {
    border: 2px solid $base_charts_color_blue;
    border-radius: 5px;
    box-sizing: border-box;
    display: table;
    text-align: center;
    width: 100%;
    height: 100%;

    &:hover {
        border-color: $base_charts_color_blue_light;
    }
}
.cts-chartplotter-item-col {
    display: table-cell;
    vertical-align: middle;
}

.cts-chartplotter-img {
    display: inline-block;
}
.cts-na-platinum {
    @include headerfooter-sprite(na-platinum);
    width: headerfooter-sprite-width(na-platinum);
    height: headerfooter-sprite-height(na-platinum);
}
.cts-na-plus {
    @include headerfooter-sprite(na-plus);
    width: headerfooter-sprite-width(na-plus);
    height: headerfooter-sprite-height(na-plus);
}
.cts-na-hotmaps-platinum {
    @include headerfooter-sprite(na-hotmaps-platinum);
    width: headerfooter-sprite-width(na-hotmaps-platinum);
    height: headerfooter-sprite-height(na-hotmaps-platinum);
}
.cts-na-gold {
    @include headerfooter-sprite(na-gold);
    width: headerfooter-sprite-width(na-gold);
    height: headerfooter-sprite-height(na-gold);
}
.cts-na-garmin {
    @include headerfooter-sprite(na-garmin);
    width: headerfooter-sprite-width(na-garmin);
    height: headerfooter-sprite-height(na-garmin);
}
.cts-na-updates {
    @include headerfooter-sprite(na-updates);
    width: headerfooter-sprite-width(na-updates);
    height: headerfooter-sprite-height(na-updates);
}
.cts-na-hotmaps-premium {
    @include headerfooter-sprite(na-hotmaps-premium);
    width: headerfooter-sprite-width(na-hotmaps-premium);
    height: headerfooter-sprite-height(na-hotmaps-premium);
}

// Mobile sub navigation
.cts-mobile-items {
    font-size: 0;
    line-height: 0;
    list-style: none;
    margin: 0 -5px;
    padding: 0;
    white-space: nowrap;

    > li {
        display: inline-block;
        margin: 0 5px;
    }
}
.cts-mobile-item {
    color: $base_charts_color_link;
    font-size: 16px;
    display: block;
    line-height: 1.2;
    text-align: center;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

.cts-mobile-img {
    display: block;
}
.cts-na-boating {
    @include headerfooter-sprite(mobile-boating);
    width: headerfooter-sprite-width(mobile-boating);
    height: headerfooter-sprite-height(mobile-boating);
}
.cts-na-ski {
    @include headerfooter-sprite(mobile-ski);
    width: headerfooter-sprite-width(mobile-ski);
    height: headerfooter-sprite-height(mobile-ski);
}
.cts-na-hb {
    @include headerfooter-sprite(mobile-hb);
    width: headerfooter-sprite-width(mobile-hb);
    height: headerfooter-sprite-height(mobile-hb);
}

.cts-mobile-title {
    display: block;
    margin-top: 5px;
}


// Downloads sub navigation
.cts-downloads-items {
    font-size: 0;
    line-height: 0;
    list-style: none;
    margin: 0 -5px;
    padding: 0;
    white-space: nowrap;

    > li {
        display: inline-block;
        margin: 0 5px;
    }
}

.cts-downloads-item {
    color: $base_charts_color_link;
    font-size: 16px;
    display: block;
    line-height: 1.2;
    text-align: center;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

.cts-downloads-img {
    display: block;
}

.cts-downloads-title {
    display: block;
    margin-top: 5px;

    a {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

.cts-na-downloads-apps {
    @include headerfooter-sprite(downloads-apps);
    width: headerfooter-sprite-width(downloads-apps);
    height: headerfooter-sprite-height(downloads-apps);
}
.cts-na-downloads-chartplotter {
    @include headerfooter-sprite(downloads-chartplotter);
    width: headerfooter-sprite-width(downloads-chartplotter);
    height: headerfooter-sprite-height(downloads-chartplotter);
}

.cts-nav-sub-login {
    padding: 0;
    width: 300px;
}

.cts-nav-sub-more {
    margin-top: 20px;
    padding-right: 11px;
    text-align: right;

    a {
        color: $base_charts_color_link;
        position: relative;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }

        &:after {
            border-left: 6px solid $base_charts_color_link;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            content: '';
            margin: -6px 0 0 5px;
            position: absolute;
            left: 100%;
            top: 50%;
            width: 0;
            height: 0;
        }
    }
}

.cts-page-header-right {
    margin: 20px 0 10px;
    position: relative;
    z-index: 2;

    @media all and (min-width: $bp-md) {
        margin: 0 0 10px;
        position: absolute;
        right: 0;
        bottom: 100%;
        white-space: nowrap;
    }
    @media all and (min-width: $bp-l) {
        bottom: 8px;
        margin: 0;
    }
}

.cts-page-header-links {
    display: block;
    font-size: 0;
    line-height: 0;
    margin: 0 0 15px;
    padding: 0;
    text-align: center;
    vertical-align: middle;

    @media all and (min-width: $bp-md) {
        display: inline-block;
        margin: 0 5px 0 0;
    }

    li {
        border-right: 2px solid $base_charts_color_black;
        display: inline-block;
        padding: 0 10px;

        @media all and (min-width: $bp-md) {
            border-color: $base_charts_color_white;
        }

        &:last-child {
            border-right-width: 0;

            @media all and (min-width: $bp-md) {
                border-right-width: 2px;
            }
        }
    }
    a {
        color: $base_charts_color_link;
        display: block;
        font-size: 14px;
        font-weight: bold;
        line-height: 18px;
        overflow: hidden;
        text-decoration: underline;
        white-space: nowrap;

        @media all and (min-width: $bp-md) {
            color: $base_charts_color_white;
        }

        &:hover {
            text-decoration: none;
        }
    }
}

.cts-page-header-link-user {
    @media all and (min-width: $bp-l) {
        max-width: 60px;
        text-overflow: ellipsis;
    }
}

// Language switcher
.cts-page-lang {
    display: block;
    font-size: 0;
    line-height: 0;
    position: relative;
    text-align: center;
    vertical-align: middle;
    z-index: 999;

    @media all and (min-width: $bp-md) {
        display: inline-block;
        padding: 0 10px;
    }

    &.is-active {
        .cts-page-lang-current {
            a {
                &:after {
                    display: none;
                }
            }
        }
        .cts-page-lang-sub {
            @media all and (min-width: $bp-md) {
                display: block;
            }
        }
    }
    a {
        &:before {
            border-radius: 50%;
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 25px;
            height: 25px;
        }

        &.lang-en:before {
            @include headerfooter-sprite(lng-us);
        }
        &.lang-it:before {
            @include headerfooter-sprite(lng-it);
        }
        &.lang-fr:before {
            @include headerfooter-sprite(lng-fr);
        }
        &.lang-es:before {
            @include headerfooter-sprite(lng-es);
        }
        &.lang-de:before {
            @include headerfooter-sprite(lng-de);
        }
    }
}
.cts-page-lang-current {
    display: inline-block;
    margin: 0 5px;
    position: relative;
    z-index: 10;

    @media all and (min-width: $bp-md) {
        margin: 0;
    }

    a {
        display: block;
        outline: 0;
        position: relative;

        @media all and (min-width: $bp-md) {
            &:after {
                border: 4px solid transparent;
                border-top-color: $base_charts_color_white;
                border-bottom-width: 0;
                content: '';
                display: block;
                margin: -2px 0 0 3px;
                position: absolute;
                left: 100%;
                top: 50%;
                vertical-align: middle;
                width: 0;
                height: 0;
            }
        }

        &:before {
            box-shadow: 0 0 0 3px $base_charts_color_blue_light;

            @media all and (min-width: $bp-md) {
                box-shadow: 0 0 0 1px $base_charts_color_blue_light;
            }
        }
    }
}
.cts-page-lang-sub {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;

    @media all and (min-width: $bp-md) {
        background: $base_charts_color_white;
        border-radius: 5px;
        box-shadow: $header-box-shadow;
        display: none;
        padding: 43px 0 0;
        position: absolute;
        left: 0;
        right: 0;
        top: -10px;
    }

    li {
        display: inline-block;
        margin: 0 5px;

        @media all and (min-width: $bp-md) {
            display: block;
            margin: 0;
        }

        a {
            display: block;

            @media all and (min-width: $bp-md) {
                padding: 7px 0;
            }

            &:hover {
                &:before {
                    box-shadow: 0 0 0 3px $base_charts_color_blue_light;
                }
            }
        }
    }
}
