.cts-page-footer {
    background: $base_charts_color_blue_oficial;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.6);
    font-family: $base_charts_font_family;
    padding-top: 15px;
}

.cts-footer-top {
    background: $base_charts_color_white;
    padding: 20px 5px;
}


.cts-footer-row {
    margin: 0 auto;
    max-width: 1370px;

    @include clearfix;
}

.cts-footer-col {
    box-sizing: border-box;
    padding: 0 30px;

    @media all and (min-width: $bp-l) {
        float: left;
        width: 50%;
    }
}

.cts-footer-col-news {
    @media all and (min-width: $bp-l) {
        border-right: 2px solid $base_charts_color_blue_oficial;
        padding-left: 70px;
    }
}

.cts-footer-col-title {
    color: $base_charts_color_blue_oficial;
    font-size: 18px;
    margin: 0 0 20px;
    text-align: center;

    a {
        color: $base_charts_color_blue_oficial;
        text-decoration: none;
    }
}


.cts-footer-item {
    color: $base_charts_color_black;
    display: table;
    margin-bottom: 20px;
    table-layout: fixed;
    text-decoration: none;
    width: 100%;

    &:hover {
        .cts-footer-item-title {
            text-decoration: none;
        }
    }
}

.cts-footer-item-col {
    display: table-cell;
    vertical-align: middle;
}

.cts-footer-img-col {
    width: 65px;
}

.cts-footer-item-img {
    $size: 50px;

    background: $base_charts_color_blue_light;
    border-radius: 50%;
    border: 3px solid $base_charts_color_blue_oficial;
    box-sizing: border-box;
    color: $base_charts_color_white;
    display: inline-block;
    font-size: 26px;
    line-height: ($size - 6); // 6 = top + bottom border width
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: $size;
    height: $size;
}

.cts-footer-news-heading, .cts-footer-item-title {
    font-size: 16px;
    line-height: 22px;
}

.cts-footer-news-date {
    display: inline;
    font-weight: normal;
}

.cts-footer-item-title {
    color: $base_charts_color_link;
    display: inline;
    font-weight: normal;
    margin: 0;
    text-decoration: underline;
}


// Links
.cts-footer-links {
    font-size: 0;
    line-height: 0;
    margin: 0 auto;
    max-width: 200px;

    @media all and (min-width: $bp-l) {
        max-width: 470px;
    }
}

.cts-footer-link {
    display: block;
    text-decoration: none;

    @media all and (min-width: $bp-l) {
        display: inline-block;
        vertical-align: top;
        width: 50%;
    }
}


// Bottom part of footer
.cts-footer-bottom {
    color: $base_charts_color_white;
    padding: 20px 0;

    a {
        color: $base_charts_color_white;

        &:hover {
            text-decoration: none;
        }
    }
}

.cts-footer-bottom-group {
    @include clearfix;
}

// Social buttons
.cts-footer-soc-block {
    font-size: 0;
    line-height: 0;
    text-align: center;
    white-space: nowrap;

    @media all and (min-width: $bp-l) {
        float: left;
        text-align: left;
    }
}

.cts-footer-soc {
    cursor: default;
    margin-bottom: 10px;
    padding: 0 20px;

    @media all and (min-width: $bp-l) {
        border-right: 2px solid $base_charts_color_white;
        display: inline-block;
        margin-bottom: 0;

        &:last-child {
            border-right-width: 0;
        }
    }
}

.cts-soc-list {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;

    li {
        display: inline-block;
        vertical-align: middle;
    }
}

.cts-footer-soc-head {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    margin-right: 10px;
    vertical-align: middle;
}

.cts-soc {
    border-radius: 50%;
    display: block;
    margin-left: 5px;
    width: 28px;
    height: 28px;
}

.cts-soc-yt {
    @include headerfooter-sprite(soc-youtube);
}
.cts-soc-tw {
    @include headerfooter-sprite(soc-twitter);
}
.cts-soc-fb {
    @include headerfooter-sprite(soc-facebook);
}
.cts-soc-gplus {
    @include headerfooter-sprite(soc-gplus);
}
.cts-soc-instagram {
    @include headerfooter-sprite(soc-instagram);
}


.cts-footer-nav {
    font-size: 0;
    line-height: 0;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        border-right: 2px solid $base_charts_color_white;
        display: inline-block;
        margin: 0 0 5px;
        padding: 0 10px;

        &:last-child {
            border-right-width: 0;
        }

        a {
            color: $base_charts_color_white;
        }
    }
}
.cts-footer-main-nav {
    margin-top: 20px;
    text-align: center;

    @media all and (min-width: $bp-l) {
        float: right;
        margin-top: 0;
    }

    li {
        font-size: 16px;
        line-height: 16px;
    }
}

.cts-footer-sub-nav {
    margin-top: 20px;
    text-align: center;

    li {
        font-size: 14px;
        line-height: 14px;
    }
}
