.cts-poi-cell {
    border-bottom: 1px solid $base_charts_color_grey;
    cursor: pointer;
    min-height: 50px;
    position: relative;

    @include clearfix;

    &.is-active {
        background: $base_charts_color_blue_light;

        &, .cts-poi-cell-info-item, .cts-poi-cell-phone-number {
            color: $base_charts_color_white;
        }
    }

    &.has-info {
        .cts-poi-cell-content-col {
            margin-right: 70px;
        }
    }
    &.has-fuel {
        min-height: 70px;
    }

    .cts-rating {
        line-height: 12px;

        .na-icon {
            font-size: 12px;
            line-height: 12px;
        }
    }
    .cts-rating-votes {
        font-weight: normal;
    }
}

.cts-poi-cell-img-col {
    box-sizing: border-box;
    float: left;
    padding: 5px;
    text-align: center;
    width: 40px;
}

.cts-poi-cell-img {
    max-width: 30px;
    vertical-align: top;
}

.cts-poi-cell-content-col {
    margin-left: 40px;
    padding: 5px;
}

.cts-poi-cell-title {
    font-size: 15px;
    font-weight: bold;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cts-poi-cell-info {
    font-size: 0;
    line-height: 0;
}

.cts-poi-cell-info-item {
    color: $base_charts_color_grey;
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    margin-left: 12px;
    position: relative;
    vertical-align: middle;

    &:first-child {
        margin-left: 0;

        &:before {
            display: none;
        }
    }

    &:before {
        content: '-';
        display: block;
        font-size: 12px;
        line-height: 12px;
        margin: -6px 4px 0 0;
        position: absolute;
        right: 100%;
        top: 50%;
    }
}

.cts-poi-cell-phone-number {
    color: $base_charts_color_blue_light;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

.cts-poi-cell-info-col {
    border-left: 1px solid $base_charts_color_grey;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 70px;
    text-align: center;

    .cts-grid-table {
        height: 100%;
    }

    .cts-grid-col {
        padding: 2px 0;
    }
}

.cts-poi-cell-info-col-fuel {
    .cts-grid-row {
        height: 50%;

        &:last-child {
            .cts-grid-col {
                border-bottom-width: 0;
            }
        }
        .cts-grid-col {
            border-bottom: 1px solid $base_charts_color_grey;
        }
    }
}

.cts-poi-cell-info-title {
    font-size: 12px;
    line-height: 12px;
}

.cts-poi-cell-info-fuel-val {
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
}

.cts-poi-cell-info-vhf-val {
    font-size: 20px;
    font-weight: bold;
}
