.cts-popup-overflow {
    overflow: hidden;
}

.cts-popup-container {
    background: rgba(0,0,0,0.7);
    overflow: auto;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}
.cts-popup-row {
    display: table;
    width: 100%;
    height: 100%;
}
.cts-popup-col {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.cts-popup {
    background: #fff;
    border: 1px solid #979797;
    border-radius: 5px;
    font: 14px/20px Arial, sans-serif;
    margin: 0 auto;
    max-width: 900px;
    padding: 17px;
    position: relative;
    width: 95%;
    z-index: 1010;
}

.cts-popup-header {
    border-bottom: 1px solid #d8d8d9;
    padding: 0 0 15px;

    .cts-close-button {
        float: right;
    }
}

.cts-popup-header-title {
    font-size: 20px;
    font-weight: bold;
}

.cts-popup-content {
    padding: 20px 0;
}

.cts-popup-footer {
    border-top: 1px solid #d8d8d9;
    padding: 15px 0 0;
    text-align: center;
}
.cts-popup-close-button {
    background: $base_charts_color_blue_light;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    width: 200px;

    &:hover {
        background: lighten($base_charts_color_blue_light, 10%);
        cursor: pointer;
    }
}
