.cts-qi-object {
    margin-bottom: 10px;
}

.cts-qi-object-title {
    color: $base_charts_color_blue_oficial;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 8px;
    min-height: 18px;
    text-align: center;
    text-transform: uppercase;
}

.cts-qi-object-list {
    .cts-qi-object-item {
        border-bottom-width: 0;
        margin: 0;

        &:last-child {
            border-bottom-width: 1px;
        }
    }
}

.cts-qi-object-item {
    cursor: default;
    padding: 10px 20px;

    @extend .cts-params-block;

    @at-root {
        a#{&} {
            color: $base_charts_color_link;
            cursor: pointer;
        }
    }
}

.cts-qi-object-item-row {
    display: table;
    min-height: 40px;
    table-layout: fixed;
    width: 100%;
}

.cts-qi-object-item-col {
    display: table-cell;
    vertical-align: middle;
}

.cts-qi-link-col-fuel {
    width: 100px;

    @media all and (min-width: $bp-s) {
        width: 150px;
    }
}

// Column types
.cts-qi-object-item-image {
    width: 73px;

    img {
        vertical-align: top;
    }
}

.cts-qi-object-item-name {
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;

    @media all and (min-width: $bp-s) {
        font-size: 18px;
        line-height: 22px;
    }
}
