.cts-qi {
    border-radius: 5px;
    margin: 0 auto;
    min-width: 300px;
    overflow: hidden;
    position: relative;
    max-width: 640px;
    z-index: 10001;

    @media all and (min-width: $bp-s) {
        height: 682px;
    }

    &.has-sorting-bar {
        .cts-qi-content {
            padding-top: $component-header-height + $sorting-bar-height;
        }
    }

    .cts-sorting-bar {
        padding-left: 10px;
        padding-right: 10px;
        top: $component-header-height;
    }

    .cts-component-header-title {
        font-size: 14px;
        line-height: 16px;

        @media all and (min-width: $bp-s) {
            font-size: 18px;
            line-height: 18px;
        }
    }
}

.cts-qi-btn-lg {
    display: block;
    font-size: 14px;
    padding: 8px 30px;

    @media all and (min-width: $bp-s) {
        font-size: 18px;
        padding: 10px 45px;
    }

    .na-icon {
        font-size: 18px;
        left: 10px;
        line-height: 22px;
        margin-top: -11px;

        @media all and (min-width: $bp-s) {
            font-size: 22px;
            left: 15px;
        }
    }
}

.cts-qi-content {
    background: $base_charts_color_grey_light;
    box-sizing: border-box;
    height: 100%;
    padding-top: $component-header-height;
}

.cts-qi-content-inner {
    height: 100%;
    position: relative;
}

.cts-qi-scrollable {
    overflow: auto;

    @media all and (min-width: $bp-s) {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}

.cts-qi-bottom-from-btn-footer {
    margin-bottom: 50px;

    @media all and (min-width: $bp-s) {
        bottom: 50px;
        margin-bottom: 0;
    }
}

.cts-qi-head {
    background: darken($base_charts_color_grey_light, 5%);
}

.cts-qi-separator {
    border-bottom: 1px solid $base_charts_color_grey_dark;
    box-shadow: 0 1px 0 $base_charts_color_white;
}

.cts-qi-inner-block {
    padding: 10px;
}

.cts-qi-buttons {
    display: table;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    > li {
        display: table-cell;
        padding: 10px;
        width: 1%;
    }
}

.cts-qi-groups {
    list-style: none;
    margin: 0;
    padding: 10px 0;

    @include clearfix;

    > li {
        float: left;
        text-align: center;
        width: 25%;
    }
}

.cts-qi-group-item {
    color: $base_charts_color_grey_dark;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.cts-qi-group-icon {
    display: inline-block;
    vertical-align: top;
}

.cts-qi-group-icon-row {
    display: table;
    width: 100%;
    height: 100%;
}

.cts-qi-group-icon-col {
    display: table-cell;
    vertical-align: middle;
    width: 50px;
    height: 50px;
}

.cts-qi-icon {
    display: inline-block;
    vertical-align: top;
}
.cts-qi-icon-distance {
    @include quick-info-sprite(distance);

    width: quick-info-sprite-width(distance);
    height: quick-info-sprite-height(distance);
}
.cts-qi-icon-magazines {
    @include quick-info-sprite(magazines);

    width: quick-info-sprite-width(magazines);
    height: quick-info-sprite-height(magazines);
}
.cts-qi-icon-weather {
    @include quick-info-sprite(weather);

    width: quick-info-sprite-width(weather);
    height: quick-info-sprite-height(weather);
}
.cts-qi-icon-marker {
    @include quick-info-sprite(marker);

    width: quick-info-sprite-width(marker);
    height: quick-info-sprite-height(marker);
}

.cts-qi-group-title {
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 1px 0 $base_charts_color_white;

    @media all and (min-width: $bp-s) {
        font-size: 16px;
    }
}

.cts-qi-list {
    margin: 0;

    .cts-params-link {
        color: $base_charts_color_black;
        font-size: 14px;
        min-height: 60px;
        padding-top: 10px;
        padding-bottom: 10px;

        @media all and (min-width: $bp-s) {
            font-size: 18px;
        }
    }

    .cts-rating {
        margin-top: 3px;
    }
}

.cts-qi-link-col-img {
    width: 52px;

    img {
        max-width: 100%;
        vertical-align: top;
    }
}
.cts-qi-link-col-title {
    padding-right: 20px;
}
.cts-qi-link-col-arrow {
    width: 12px;

    .na-icon {
        margin: 0;
        position: static;
    }
}

.cts-fuel-table {
    display: table;
    font-weight: bold;
    font-size: 11px;

    @media all and (min-width: $bp-s) {
        font-size: 13px;
    }
}

.cts-params-page-fuel {
    padding-bottom: 0;
}

.cts-fuel-row {
    display: table-row;
}

.cts-fuel-col {
    display: table-cell;

    > span {
        background: #aaa;
        border-radius: 3px;
        color: $base_charts_color_white;
        display: block;
        margin: 1px;
        padding: 1px 5px;
        vertical-align: top;
        text-align: center;
    }
}

.cts-fuel-val {
    > span {
        background: #aaa;
    }
}

.cts-fuel-type-gas {
    > span {
        background: $rating-star-color;
    }
}

.cts-fuel-type-diesel {
    > span {
        background: #555;
    }
}

.cts-qi-object-contacts-list {
    margin-bottom: 20px;

    .cts-qi-object-contact {
        border-bottom-width: 0;
        margin: 0;

        &:last-child {
            border-bottom-width: 1px;
        }
    }
}

.cts-qi-object-contact {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    padding: 10px 20px;

    @extend .cts-params-block;
}

.cts-qi-object-contact-row {
    display: table;
    width: 100%;
}
.cts-qi-object-contact-col {
    display: table-cell;
    vertical-align: middle;
}

.cts-qi-object-contact-icon {
    width: 75px;

    img {
        vertical-align: top;
    }
}


.cts-qi-object-group {
    margin-bottom: 20px;

    &:last-child {
        margin: 0;
    }
}

.cts-qi-object-group-list {
    .cts-qi-object-group-item {
        border-bottom-width: 0;
        margin: 0;

        &:last-child {
            border-bottom-width: 1px;
        }
    }
}

.cts-qi-object-group-title {
}

.cts-qi-object-group-item {
    cursor: default;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    padding: 17px 20px;

    @extend .cts-params-block;
}

.cts-qi-btn-footer {
    background: darken($base_charts_color_grey_light, 5%);
    box-sizing: border-box;
    display: block;
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    .cts-simple-btn {
        padding: 8px 10px;
    }

    .cts-qi-object-rate-btn {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.cts-qi-btn-footer-rating-btn {
    text-align: center;
}

.cts-qi-object-rate-btn {
    margin-top: 7px;
    margin-bottom: 7px;
}

.cts-qi-btn-footer-rating-link {
    color: $base_charts_color_grey_dark;
    padding: 16px 20px;
    text-decoration: none;
    
    &:before {
        position: absolute;
        right: 20px;
        top: 50%;
        margin-top: -12px;
    }
}

.cts-qi-btn-footer-color-official {
    background: $base_charts_color_blue_oficial;
}

.cts-qi-fuel-distance {
    font-size: 14px;
    font-weight: normal;
    margin-top: 5px;
}



.cts-fuel-info-prices-row {
    display: table;
    list-style: none;
    margin: 0 0 10px;
    padding: 0;
    width: 100%;

    > li {
        display: table-cell;
        padding: 0 5px;
        vertical-align: top;
        width: 1%;
    }
}

.cts-fuel-price {
    .cts-form-control {
        font-size: 35px;
        font-weight: 700;
        text-align: center;

        @media all and (min-width: $bp-s) {
            font-size: 42px;
        }
    }

    .cts-form-group {
        margin-bottom: 5px;
    }
}



.cts-fuel-info-updated {
    color: $base_charts_color_grey_dark;
    font-size: 11px;
    font-weight: 700;
    line-height: 14px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;

    @media all and (min-width: $bp-s) {
        font-size: 14px;
    }
}

.cts-fuel-info-btns {
    .cts-grid-col {
        padding-bottom: 10px;
    }
}
