.cts-route {
    .cts-scrollable {
        padding-bottom: 80px;
    }
}

.cts-route-from-to {
    background: $base_charts_color_white;
}
.cts-route-from-to-row {
    @include display-table;
}
.cts-route-from-to-col {
    @include display-table-cell;

    &:last-child {
        text-align: center;
        width: 35px;
    }
}
.cts-route-from-to-inputs {
    padding: 5px 10px;

    > div {
        border-bottom: 1px solid #aaa;
        position: relative;

        &:last-child {
            border-bottom-width: 0;
        }

        input {
            border: 0;
            color: $base_charts_color_blue_light;
            font-size: 15px;
            font-weight: bold;
            height: 40px;
            margin: 0;
            outline: 0;
            padding: 0 20px 0 5px;
            width: 100%;
        }

        .cts-close-button {
            margin-top: -7px;
            position: absolute;
            right: 0;
            top: 50%;
        }
    }
}
.cts-route-change-direction {
    background: transparent;
    border: 0;
    color: #9b9b9b;
    cursor: pointer;
    font-size: 20px;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;

    @include transition(all .5s ease);

    &:hover {
        color: darken(#9b9b9b, 10%);
    }

    &.invert {
        @include transform(rotate(180deg));
    }
}

.cts-route-info {
    background: $base_charts_color_blue_oficial;
    color: #fff;
    list-style: none;
    margin: 0;
    padding: 5px 10px;

    @include clearfix;

    li {
        float: left;
        text-align: center;
        width: (100%/3);
    }
}

.cts-route-info-item {
    .cts-measure-number {
        font-size: 20px;

        span {
            font-size: 16px;
        }
    }
    .cts-measure-item {
        font-size: 10px;
    }

    .cts-time {
        .cts-time-number {
            font-size: 16px;

            &:first-child {
                font-size: 20px;
            }
        }
        .cts-time-unit {
            font-size: 10px;
        }
    }
}

.cts-route-no-legs {
    font-size: 20px;
    font-weight: bold;
    padding: 0 50px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
}

.cts-route-leg {
    background: $base_charts_color_white;
    cursor: pointer;
    margin: 7px 0;

    @include clearfix;

    &.is-active {
        background: $base_charts_color_blue_light;
        color: $base_charts_color_white;

        &.has-warning {
            background: darken($base_charts_color_red, 15%);

            .cts-route-leg-left {
                border-right-color: #c8c7cc;
            }
        }

        .cts-route-leg-left {
            border-right-color: #444;
        }
        .cts-route-leg-top {
            border-bottom-color: $base_charts_color_white;
        }
        .cts-route-leg-round {
            &.has-warning {
                &.is-active, &.finish {
                    background: $base_charts_color_red;
                    box-shadow: 0 0 0 1px $base_charts_color_red, inset 0 0 0 3px $base_charts_color_white;
                }
            }

            &.is-active, &.finish {
                background: $base_charts_color_blue;
                box-shadow: 0 0 0 1px $base_charts_color_blue, inset 0 0 0 3px $base_charts_color_white;
                color: $base_charts_color_white;
            }
        }
    }
}
.cts-route-leg-left, .cts-route-leg-right {
    box-sizing: border-box;
    padding: 5px 10px;
}
.cts-route-leg-left {
    border-right: 1px solid #c8c7cc;
    margin-right: 100px;
}

.cts-route-leg-delete {
    margin-top: -10px;
    position: absolute;
    left: 0;
    top: 50%;
}

.cts-route-leg-top {
    border-bottom: 1px solid #666;
    box-sizing: border-box;
    height: 30px;
    padding: 0 0 5px;
    position: relative;
    text-align: center;
}

.cts-route-leg-round {
    background: $base_charts_color_white;
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px $base_charts_color_blue;
    color: $base_charts_color_black;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 25px;
    height: 25px;

    &.has-warning {
        box-shadow: inset 0 0 0 3px $base_charts_color_red;
    }

    &.start {
        background: $base_charts_color_blue;
        box-shadow: none;

        &.has-warning {
            background: $base_charts_color_red;
        }
    }
    &.finish {
        &:after {
            @include icons-sprite(finish-flag);

            content: '';
            display: inline-block;
            margin: 5px 0 0;
            width: icons-sprite-width(finish-flag);
            height: icons-sprite-height(finish-flag);
        }
    }
}

.cts-route-leg-to {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;

    &:after {
        border-left: 4px solid $base_charts_color_black;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        content: '';
        display: block;
        width: 0;
        height: 0;
    }
}

.cts-route-leg-val {
    font-weight: bold;

    .cts-measure {
        .cts-measure-number {
            font-size: 16px;

            span {
                font-size: 14px;
            }
        }
        .cts-measure-item {
            font-size: 10px;
        }
    }
    .cts-time {
        .cts-time-number {
            font-size: 14px;

            &:first-child {
                font-size: 16px;
            }
        }
        .cts-time-unit {
            font-size: 10px;
        }
    }
}
.cts-route-leg-val-top {
    margin-bottom: 10px;
}
.cts-route-leg-val-right-bottom {
    float: right;
}
.cts-route-leg-right {
    float: right;
    width: 100px;
}


.cts-route-progress {
    background: $base_charts_color_white;
    margin: 7px 0;
    padding: 0 10px;
}
.cts-route-progress-head {
    border-bottom: 1px solid #666;
    padding: 10px 0;
    text-align: center;
}
.cts-route-progress-title {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.cts-route-progress-content {
    padding: 10px 0;

    @include clearfix;

    .cts-close-button {
        float: right;
    }
    .cts-progress-bar {
        margin: 6px 30px 0 0;
    }
}

.cts-boat-settings {
    background: $base_charts_color_blue_oficial;
    box-sizing: border-box;
    color: #fff;
    height: 80px;
    padding: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    .btn-primary-light {
        display: block;
        width: 100%;

        i {
            margin-right: 5px;
            vertical-align: middle;
        }
    }
}
.cts-boat-settings-info {
    margin-top: 5px;
    text-align: center;

    &, .cts-measure-number, .cts-measure-number span, .cts-measure-item {
        font-size: 13px;
    }
}

.cts-route-attention {
    color: $base_charts_color_grey_dark;
    font-size: 14px;
    padding: 10px;

    .cts-text-danger {
        font-weight: bold;
        margin-top: 8px;
    }
}
