.ol-scale-line {
    bottom: 110px;
    right: 10px;
    left: auto;
    background: none;
}

.ol-scale-line-inner {
    color: $scale-line-color;
    text-shadow: 1px 0 0 $scale-line-stroke-color, -1px 0 0 $scale-line-stroke-color, 0 1px 0 $scale-line-stroke-color, 0 -1px 0 $scale-line-stroke-color;
    font-weight: bold;
    font-family: $base_charts_font_family;
    border: 2px solid $scale-line-color;
    border-top: none;
    height: 16px;
    line-height: 12px;
    padding: 0;
    margin: 0;
    position: relative;
    @include box-sizing(border-box);

    &:before,
    &:after {
        position: absolute;
        content: '';
        display: block;
        border: 1px solid $scale-line-stroke-color;
        border-top: none;
    }

    /* outer stroke */
    &:before {
        top: 0;
        bottom: -3px;
        left: -3px;
        right: -3px;
    }

    /* inner stroke */
    &:after {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.ol-scale-line-digits {
    position: absolute;
    top: 2px;
    left: 2px;

    /* outer stroke top left border */
    &:before {
        content: '';
        display: block;
        border-top: 1px solid $scale-line-stroke-color;
        width: 4px;
        position: absolute;
        left: -5px; /* .ol-scale-line-digits.{left} + .ol-scale-line-inner.{border-left-width} + stroke width */
        top: -3px; /* .ol-scale-line-digits.{top} (2px) + stroke width (1px) */
    }
}

/* outer stroke top left border */
.ol-scale-line-units {
    position: absolute;
    top: 2px;
    right: 2px;

    &:before {
        content: '';
        display: block;
        border-top: 1px solid $scale-line-stroke-color;
        width: 4px;
        position: absolute;
        right: -5px; /* .ol-scale-line-units.{right} (2px) + .ol-scale-line-inner.{border-right-width} (2px) + stroke width (1px) */
        top: -3px; /* .ol-scale-line-units.{top} (2px) + stroke width (1px) */
    }
}
