.has-search-bar .cts-location-search {
    height: 100%;
    position: relative;
    top: auto;

    > div {
        height: 100%;
    }

    .cts-search-form {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }
    .cts-search-actions-list {
        padding-top: 50px;
    }
}

.cts-search-actions-list {
    box-sizing: border-box;
    height: 100%;

    > div {
        height: 100%;
    }

    ul {
        height: 100%;
        list-style: none;
        margin: 0;
        overflow: auto;
        padding: 0;

        li {

        }
    }
}
.data-container {
    height: 100%;
    list-style: none;
    margin: 0;
    overflow: auto;
    padding: 0;
}

.cts-search-actions-item {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    padding: 10px 0;

    &:hover {
        background: $list-item-hover-bg-color;
    }

    &.is-active {
        background: $base-color-light-blue;
        color: #fff;

        .search-action-distance {
            color: #fff;
        }
        .search-action-help {
            border-color: #fff;
            color: #fff;
        }
    }
}

.cts-search-actions-row {
    display: table;
    width: 100%;
}
.cts-search-actions-col {
    display: table-cell;
    vertical-align: middle;
}

.cts-search-action-icon-col {
    padding: 0 5px;
    text-align: center;
    width: 50px;
}
.cts-search-action-middle-col {
    padding: 0 5px;
}
.cts-search-action-distance-col {
    padding: 0 5px;
    white-space: nowrap;
    width: 1%;
}

.cts-search-action-distance {
    color: #777;
    font-size: 14px;
}

.cts-search-action-title {
    font-weight: bold;
    font-size: 14px;

    &.location-search-action-title {
        font-weight: normal;
    }
}
