.cts-lat-long {
    height: 100%;

    .cts-params-page {
        padding: 20px;
    }
}

.cts-ll-block {
    margin-bottom: 20px;

    &.cts-invalid-coord  {
        input[data-type] {
            border: 1px solid $base_charts_color_red;
        }
    }

    input.cts-invalid-input {
        border: 1px solid $base_charts_color_red;
    }
}

.cts-error-container {
    display: none;
    color: $base_charts_color_red;
    line-height: 1.5;
    padding-top: 15px;

    .cts-invalid-input &, .cts-invalid-coord & {
        display: block;
    }
}

.cts-invalid-coord, .cts-invalid-input {
    ~ .cts-ll-show-on-map .cts-simple-btn {
        cursor: not-allowed;
        opacity: 0.65;
    }
}

.cts-ll-title {
    font-size: 26px;
    margin-bottom: 10px;
    text-align: center;
}

.cts-ll-values {
    font-weight: bold;

    .cts-switcher {
        float: right;

        label {
            padding: 0;
            text-align: center;
            width: 45px;
        }
    }
}

.cts-ll-measuring {
    display: inline-block;
    vertical-align: top;
}

.cts-ll-input {
    border: 1px solid #bbb;
    border-radius: 5px;
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
    box-sizing: border-box;
    display: inline-block;
    font-family: $base_charts_font_family;
    font-size: 22px;
    font-weight: bold;
    height: 42px;
    outline: 0;
    padding: 0 5px;
    text-align: center;
    vertical-align: top;

    &[data-type="degree"] {
        width: 60px;
    }
    &[data-type="minute"] {
        width: 90px;
    }
}

.cts-ll-show-on-map {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
