.cts-category-list {
    height: 100%;

    > div {
        box-sizing: border-box;
        height: 100%;
        padding-top: 50px;
    }
}

.cts-search-category-list {
    display: block;
    height: 100%;
    list-style: none;
    overflow: auto;
    margin: 0;
    padding: 0;
}

.cts-search-category-list-item {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    height: 60px;

    &:last-child {
        border-bottom-width: 0;
    }

    &:hover {
        background: $list-item-hover-bg-color;
    }
}
.cts-search-category-list-item-row {
    display: table;
    width: 100%;
    height: 100%;
}
.cts-search-category-list-item-col {
    display: table-cell;
    vertical-align: middle;
}

.cts-search-category-list-item-icon {
    text-align: center;
    width: 60px;
}