.sliding-content-container {
    $transition-animation-duration: 0.3s;

    position: relative;
    height:100%;
    width:100%;
    overflow: hidden;

    &.open {
        .left-content {
            overflow: scroll;

            @include transform(translateX(0px));
        }

        .sliding-bar {
            left: $left-panel-width;

            &:after {
                @include icons-sprite(slider_arrow_left, $offset-x: 5px);
            }
        }

        .right-content {
            width: auto;
            left: $left-panel-width + $sliding-bar-width;
        }
    }

    .sliding-bar {
        background:  $base_charts_color_blue_oficial;
        height: 100%;
        position: absolute;
        left: 0;
        width: $sliding-bar-width;
        z-index: 999;

        @include transition-property(left);
        @include transition-duration($transition-animation-duration);
        @include transition-timing-function(ease);

        &:after, &:before {
            content: " ";
            cursor: pointer;
            position: inherit;
            top: 50%;
            left: 0;
            width: 18px;

            @include transform(translateY(-50%));
        }

        &:before {
            //@include icons-sprite(slider_btn);
            background: $base_charts_color_blue_oficial;
            border-radius: 0 7px 7px 0;
            height: 60px;
        }

        &:after {
            height: 32px;

            @include icons-sprite(slider_arrow_right, $offset-x: 5px);

            @media screen and (min-width: 768px) and (max-device-width: 1024px) {
              width: 60px;
            }
        }
    }

    .sliding-bar-touch {
        top: 50%;
        left: 0;
        width: 60px;
        height: 60px;
        position: absolute;
        margin-top: -30px;
    }

    .left-content {
        overflow: hidden !important;
        position: absolute;
        width: $left-panel-width;
        height: 100%;

        @include transform(translateX(-100%));
        @include transition(transform $transition-animation-duration ease);

        > * {
            height: 100%;
        }

    }

    .right-content {
        position: absolute;
        left: $sliding-bar-width;
        width: auto;
        height: 100%;

        @include transition-property(left);
        @include transition-duration($transition-animation-duration);
        @include transition-timing-function(ease);

        > * {
            height: 100%;
        }
    }

    h1 {
        font-size: 1em;
        font-weight: bold;
        text-align: center;
    }
}
