.cts-track-info {
    font-family: $base_charts_font_family;
    font-size: 16px;
    font-weight: bold;
    height: 100%;
    overflow: auto;
}

.cts-has-track-status {
    padding-bottom: 60px;
}

.cts-track-header {
    background: $base_charts_color_blue_oficial;
    color: #fff;
    padding: 20px;
}

.cts-track-time {
    @include clearfix;
}
.cts-track-time-start {
    float: left;
}
.cts-track-time-end {
    float: right;
}

.cts-track-stat-header {
    background: $base_charts_color_blue_oficial;
    color: #fff;
    padding: 5px 0;
    text-align: center;
}
.cts-track-stat-content {
    background: #fff;
    padding: 20px;
}

.cts-track-stat-item {
    margin-bottom: 10px;

    &.speed {
        .cts-track-stat-chart-bar {
            background: #f67233;
        }
    }
    &.duration {
        .cts-track-stat-chart-bar {
            background: #178bd2;
        }
    }
    &.distance {
        .cts-track-stat-chart-bar {
            background: #00b9c1;
        }
    }
    &.depth {
        .cts-track-stat-chart-bar {
            background: #00ba1a;
        }
    }
}

.cts-track-stat-item-heading {
    margin-bottom: 2px;

    @include clearfix;
}
.cts-track-stat-item-title {
    float: left;
}
.cts-track-stat-item-max-type {
    float: right;
    font-size: 14px;
    font-weight: normal;
}
.cts-track-stat-item-val {
    float: right;
    font-size: 14px;
    min-width: 60px;
    text-align: right;
}

.cts-track-stat-chart {
    background: #344359;
    border-radius: 7px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    position: relative;
}
.cts-track-stat-chart-bar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}
.cts-track-stat-chart-value {
    color: #fff;
    font-size: 20px;
    padding: 0 10px;
    position: relative;
    z-index: 2;

    small {
        font-size: 16px;
    }
}

.cts-track-stat-chart-cup {
    @include icons-sprite(records-cup);

    position: absolute;
    right: 5px;
    top: 5px;
    width: icons-sprite-width(records-cup);
    height: icons-sprite-height(records-cup);
    z-index: 1;
}
