.cts-track-status-container {
    background: $base_charts_color_blue_oficial;
    color: $track_status_color_main;
    font-family: $base_charts_font_family;
    font-size: 12px;
    line-height: 16px;
    padding: 0 20px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    a {
      color: $track_status_color_main;
    }

    .track-status-icon {
        float: left;
        font-size: 14px;
        height: 25px;
        line-height: 25px;
        width: 25px;
    }
}

.cts-track-status-row {
    display: table;
    height: 60px;
    table-layout: fixed;
    width: 100%;
}

.cts-track-status-col {
    display: table-cell;
    vertical-align: middle;
}

.cts-track-status-col-icon {
    width: 35px;
}

.cts-track-status-date {
    font-size: 12px;
}
