.cts-tracks-list-container {
    font: 13px/1.2em $base_charts_font_family;
    height: 100%;
    position: relative;

    .cts-sorting-bar {
        display: block;
    }
}

.cts-tracks-list-content {
    box-sizing: border-box;
    height: 100%;
    padding: 42px 0 58px;
}

.cts-tracks-list {
    background: $base_charts_color_white;
    border: 1px solid $base_charts_color_grey;
    color: $base_charts_color_black;
    display: block;
    height: 100%;
    list-style: none;
    margin: 0;
    overflow-y: auto;
    padding: 0;

    &.in-select-state {
        .cts-track-item {
            padding-left: 45px;
        }
    }
}

.cts-no-tracks {
    font-size: 1.2em;
    padding: 20px;
}

// ITEM
.cts-track-item {
    border-bottom: 1px solid $base_charts_color_grey;
    color: $base_charts_color_black;
    cursor: pointer;
    display: block;
    font: 500 13px/13px $base_charts_font_family;
    list-style: none;
    padding: 3px 18px;
    position: relative;

    &:last-child {
        border-bottom: none;
    }

    &.cts-selected {
        background: $base_charts_color_blue_light;
        color: $base_charts_color_white;

        .cts-navigable-item-checkbox {
            &:checked {
                + label {
                    border-color: $base_charts_color_red;
                }
            }

            + label {
                border-color: $base_charts_color_white;
            }
        }
        .cts-track-item-data-item, .cts-track-item-sorting {
            color: $base_charts_color_white;
        }
    }

    .track-status-icon {
        border-color: $base_charts_color_grey;
    }
}

.cts-track-item-inner {
    display: table;
    width: 100%;
}

.cts-track-item-inner-col {
    display: table-cell;
    vertical-align: middle;
}

.cts-track-item-inner-col-status {
    text-align: right;
    width: 40px;
}

.cts-track-item-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 3px;
}

.cts-track-item-data {
    display: table;
    width: 100%;
}

.cts-track-item-data-row {
    display: table-row;
}
.cts-track-item-data-item {
    color: $base_charts_color_black;
    display: table-cell;
    font-size: 13px;
    line-height: 18px;
    vertical-align: top;

    &:last-child {
        text-align: right;
    }

    .cts-measure-number {
        .cts-measure-value {
            white-space: nowrap;
        }
    }
    .cts-measure {
        .cts-measure-item {
            font-size: 1em;
        }
    }
    .cts-time {
        span.cts-time-unit {
            font-size: 1em;
        }
    }
}

.cts-track-item-sorting {
    color: $base_charts_color_blue_oficial;
    font-weight: bold;
}

// Track status
.cts-track-status-icon-container {
    font-size: 13px;
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.cts-track-list-status-tooltip-more {
    span {
        color: $base_charts_color_blue_light;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
            cursor: pointer;
        }
    }
}


// Track statistics
.cts-track-stat-icon {
    background: $base_charts_color_white;
    border: 1px solid $base_charts_color_grey;
    border-radius: 3px;
    display: inline-block;
    height: 31px;
    padding: 4px;
    text-decoration: none;
    vertical-align: top;
    width: 31px;

    > span {
        display: block;
        height: 3px;
        margin-bottom: 3px;

        &:nth-child(1) {
            background: #0d754f;
        }
        &:nth-child(2) {
            background: #0ca6ab;
            width: 76%;
        }
        &:nth-child(3) {
            background: #068cd4;
            width: 60%;
        }
        &:nth-child(4) {
            background: #f27029;
            margin-bottom: 0;
            width: 76%;
        }
    }
}
