.cts-weather-header {
    .cts-simple-btn {
        margin: 0;
        position: static;
    }

    .cts-search-form-input {
        border-radius: 5px;
        font-weight: bold;
        padding: 0 30px 0 10px;
        text-align: left;
    }
}

.cts-weather-header-col {
    display: table-cell;
    padding: 7px 10px;
    vertical-align: middle;
}

.cts-grid-weather {
    margin: 0;

    .cts-grid-col {
        padding: 3px;
    }
}

.cts-grid-weather-editable {
    .cts-weather-widget {
        cursor: move;

        @include transform(scale(0.85));
        @include user-select(none);
    }

    .cts-weather-widget-add {
        opacity: 0;
        visibility: hidden;

        @include transform(scale(0.85));
    }

    .cts-weather-widget-delete {
        opacity: 1;
        visibility: visible;

        @include transform(scale(1));
    }
}

.cts-weather-widget {
    background: $base_charts_color_white;
    border-radius: 3px;
    height: 150px;
    position: relative;

    @include transition(all $weather-transition-duration);

    @media all and (min-width: $bp-s) {
        height: 190px;
    }

    img {
        max-width: 100%;
        vertical-align: top;
    }
}

.cts-weather-widget-delete {
    background: $base_charts_color_red;
    border-radius: 50%;
    box-shadow: 0 0 0 3px $base_charts_color_white, 0 1px 1px 3px transparentize($base_charts_color_black, 0.5);
    color: $base_charts_color_white;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    margin: -13px 0 0 -13px;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    visibility: hidden;
    width: 26px;
    height: 26px;
    z-index: 10;

    @include transform(scale(0.85));
    @include transition((visibility 0s linear $weather-transition-duration, all $weather-transition-duration ease));
}

.cts-weather-widget-head {
    background: $base_charts_color_black;
    border-radius: 3px 3px 0 0;
    box-sizing: border-box;
    color: $base_charts_color_white;
    font-size: 14px;
    height: 24px;
    line-height: 18px;
    padding: 3px 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    white-space: nowrap;

    @media all and (min-width: $bp-s) {
        font-size: 18px;
        height: 30px;
        line-height: 24px;
    }
}

.cts-weather-widget-content {
    box-sizing: border-box;
    height: 100%;
    padding-top: 30px;
}

.cts-weather-widget-add-row {
    display: table;
    height: 100%;
    text-align: center;
    width: 100%;
}

.cts-weather-widget-add-col {
    display: table-cell;
    vertical-align: middle;
}

.cts-weather-widget-add-block {
    margin: 0 auto;
    width: 120px;
}

.cts-weather-widget-add-icon {
    background: $base_charts_color_grey;
    border-radius: 50%;
    color: $base_charts_color_white;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    width: 30px;
    height: 30px;
}

.cts-weather-widget-add-text {
    color: $base_charts_color_grey;
    font-size: 14px;
    line-height: 18px;
    margin-top: 8px;
}

.cts-weather-widget-time {
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;

    @media all and (min-width: $bp-s) {
        font-size: 20px;
        line-height: 28px;
    }
}

.cts-weather-widget-lead-val {
    margin: 5px 0;

    .cts-measure {
        box-sizing: content-box;
        display: inline-block;
        font-weight: bold;
        height: 35px;
        line-height: 35px;
        position: relative;
        vertical-align: top;

        @media all and (min-width: $bp-s) {
            height: 70px;
            line-height: 70px;
        }

        .cts-measure-number {
            font-size: 35px;

            @media all and (min-width: $bp-s) {
                font-size: 70px;
            }

            span {
                font-size: 24px;

                @media all and (min-width: $bp-s) {
                    font-size: 42px;
                }
            }
        }
        .cts-measure-item {
            font-size: 11px;
            line-height: 15px;
            position: absolute;
            right: 0;
            top: 0;

            @media all and (min-width: $bp-s) {
                font-size: 22px;
                line-height: 30px;
            }
        }
    }
}

.cts-weather-widget-add {
    background: $base_charts_color_white;
    cursor: pointer;
    height: 150px;
    position: relative;
    visibility: visible;

    @include transition((visibility 0s linear $weather-transition-duration, all $weather-transition-duration ease));

    @media all and (min-width: $bp-s) {
        height: 190px;
    }
}

.cts-weather-widget-placeholder {
    background: $base_charts_color_white;
    border: 2px dashed $base_charts_color_grey;
    box-sizing: border-box;
    display: none;
    height: 150px;

    @media all and (min-width: $bp-s) {
        height: 190px;
    }

    &.is-visible {
        display: block;

        @include transform(scale(0.85));
    }
}

// Sun widget
.cts-weather-widget-sun {
    padding: 0 10px;

    @media all and (min-width: $bp-s) {
        padding: 0 40px;
    }
}
.cts-weather-widget-sun-section {
    border-bottom: 2px dotted $base_charts_color_grey;
    box-sizing: border-box;
    height: 50%;
    padding: 15px 0;

    &:last-child {
        border-bottom-width: 0;
    }
}

// TODO: Rename class name
.cts-weather-widget-1 {
    padding: 0 10px;

    @media all and (min-width: $bp-s) {
        padding: 0 20px;
    }

    .cts-grid-table {
        height: 100%;
        table-layout: fixed;
    }
}


// Wind widget
.cts-weather-widget-wind {
    padding: 0 10px;

    @media all and (min-width: $bp-s) {
        padding: 0 20px;
    }

    .cts-grid-table {
        height: 100%;
        table-layout: fixed;
    }

    .cts-weather-widget-lead-val {
        .cts-measure {
            padding-bottom: 20px;

            @media all and (min-width: $bp-s) {
                padding-bottom: 40px;
            }

            .cts-measure-item {
                left: 0;
                top: auto;
                bottom: 0;
            }
        }
    }
}

.cts-weather-widget-wind-direction {
    font-size: 14px;
    font-weight: bold;

    @media all and (min-width: $bp-s) {
        font-size: 24px;
    }
}
