.cts-form-control-container {
    position: relative;

    &:before {
        color: $base_charts_color_grey_dark;
        font-size: 13px;
        position: absolute;
        left: 5px;
        top: 9px;
    }
    &.has-icon {
        .cts-form-control {
            padding-left: 30px;
        }
    }
    &.has-clear-btn {
        .cts-form-control {
            padding-right: 30px;
        }
    }

    .cts-close-button {
        margin-top: -8px;
        position: absolute;
        top: 50%;
        right: 5px;
    }
}

.cts-form-control {
    border: 1px solid $base_charts_color_grey;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: $base_charts_font_family;
    font-size: 14px;
    outline: none;
    padding: 6px 10px;
    width: 100%;

    @at-root {
        textarea#{&} {
            resize: none;
        }
    }
}

.cts-form-control-flat {
    border-color: $base_charts_color_white;
}
