// 12 columns grid system.
.cts-grid {
    margin: 0 ($grid-gutter / -2);
}

.cts-grid-row {
    @include clearfix;
}

.cts-grid-col {
    box-sizing: border-box;
    float: left;
    padding: 0 ($grid-gutter / 2);
}

.cts-grid-table {
    display: table;
    margin: 0;
    width: 100%;

    .cts-grid-row {
        display: table-row;

        &:after {
            display: none;
        }
    }
    .cts-grid-col {
        display: table-cell;
        float: none;
        vertical-align: middle;
    }
}

@for $i from 1 through 12 {
    .cts-grid-col-#{$i} {
        width: percentage($i / 12);
    }
}