﻿<div class="dropdown">
    <ui-select ng-disabled="controller.disabled" ng-model="$parent.selectedId">
        <ui-select-match placeholder="{{controller.placeholder}}">
            <span>{{$select.selected.name}}</span>
        </ui-select-match>
        <ui-select-choices repeat="item.id as item in controller.items | filter: $select.search">
            <div class="text-ellipsis" ng-bind-html="item.name | highlight: $select.search"></div>
        </ui-select-choices>
    </ui-select>
</div>
