@mixin calc($property, $expression) {
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

@mixin calc-width($expression) {
    @include calc(width, $expression)
}

@mixin calc-height($expression) {
    @include calc(height, $expression)
}

@mixin transform($value) {
    -moz-transform: $value;
    -webkit-transform: $value;
    transform: $value;
}
@mixin transition($value) {
    -moz-transition: $value;
    -webkit-transition: $value;
    transition: $value;
}
@mixin animation-delay($value) {
    -moz-animation-delay: $value;
    -webkit-animation-delay: $value;
    animation-delay: $value;
}
@mixin animation-direction($value) {
    -moz-animation-direction: $value;
    -webkit-animation-direction: $value;
    animation-direction: $value;
}
@mixin animation-duration($value) {
    -moz-animation-duration: $value;
    -webkit-animation-duration: $value;
    animation-duration: $value;
}
@mixin animation-name($value) {
    -moz-animation-name: $value;
    -webkit-animation-name: $value;
    animation-name: $value;
}
@mixin animation-iteration-count($value) {
    -moz-animation-iteration-count: $value;
    -webkit-animation-iteration-count: $value;
    animation-iteration-count: $value;
}

@mixin user-select($value: none) {
    -webkit-touch-callout: $value;
    -webkit-user-select: $value;
    -moz-user-select: $value;
    -ms-user-select: $value;
    user-select: $value;
}

@mixin resize-sprite($map, $sprite, $percent, $parentSize, $shutter: 0) {
    $spritePath:    sprite-path($map);
    $spriteWidth:   image-width($spritePath);
    $spriteHeight:  image-height($spritePath);
    $width: image-width(sprite-file($map, $sprite));
    $height: image-height(sprite-file($map, $sprite));

    @include background-size(ceil($spriteWidth * ($percent/100)) ceil($spriteHeight * ($percent/100)));
    width: ceil($width*($percent/100));
    height: ceil($height*($percent/100));
    background-position: 0 floor(nth(sprite-position($map, $sprite), 2) * ($percent/100) );
    margin-top: ceil(($parentSize - ceil($height*($percent/100)))/2);
}

// Buttons
@mixin btn-light-gray {
    background: #EBEBEB;
    @include background-image(linear-gradient(white 0%, rgb(235, 235, 235) 50%, rgb(226, 226, 226) 50%, rgb(247, 247, 247) 100%));
    border: 1px solid #E2E2E2;
}



@mixin btn-blue-selected {
    background-color: #447DE5 !important;
    @include background-image(linear-gradient(to bottom, #376dd1 0%, #5b97f0 50%));
    border: 1px solid #E2E2E2;

}

@mixin hover-btn-light-gray {
    background: #ffffff;
    //@include background-image(inear-gradient(to bottom, #ebebeb 0%, white 50%, #f7f7f7 50%, #e2e2e2 100%));
    border: 1px solid #E2E2E2;
}

// TODO: Replace with classes from _grid.scss
@mixin display-table {
    display: table;
    width: 100%;
}

// TODO: Replace with classes from _grid.scss
@mixin display-table-cell {
    display: table-cell;
    vertical-align: middle;
}

@mixin clearfix {
    &:after {
        clear: both;
        content: '';
        display: block;
    }
}

@mixin transform($val) {
    -moz-transform: $val;
    -webkit-transform: $val;
    transform: $val;
}

// Style of button
@mixin jnc-view-btn-style($default-color, $active-color) {
    background: $default-color;

    &:hover {
        border-color: $default-color;
    }
    &.is-active {
        background: $active-color;

        &:hover {
            border-color: $active-color;
            box-shadow: none;
        }
    }
    &.cts-view-btn-bordered {
        box-shadow: 0 0 0 1px $default-color;
    }
}
