$icons-spacing: 20px;
$icons-dimensions: true;
@import "icons/*.png";
//@include icons-sprites;

$headerfooter-spacing: 20px;
$headerfooter-dimensions: true;
@import "headerfooter/*.png";

$quick-info-spacing: 20px;
$quick-info-dimensions: true;
@import "quick-info/*.png";

